django==1.5.5
djonet
python-monetdb
aplpy==0.9.8
numpy
pyfits==3.1.2
pymongo
matplotlib
pywcs
python-dateutil
psycopg2
GitPython==0.3.2.RC1

## for caching:
#python-memcached
#pylibmc

## for profiling: django-live-profiler 0.0.9 is not the same as master
git+https://github.com/InviteBox/django-live-profiler.git@fe1ccfe09077a76aa54189dcd4780c6865031914

# for development
django-debug-toolbar

