django>=1.6,<1.7
djonet
python-monetdb
astropy==0.4
aplpy==0.9.12
numpy
pymongo
matplotlib
pywcs
python-dateutil
psycopg2
GitPython==0.3.2.RC1
pytz
django-filter


## for caching:
#python-memcached
#pylibmc

# for development
django-debug-toolbar

