{% extends "base.html" %}

{% block title %}Databases · Banana{% endblock title %}

{% block content %}

<form action="{% url 'sqlconsole' db_name %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% if data %}
    <table class="table table-bordered table-striped responsive-utilities table-condensed">
        <thead>
            <tr>
                {% for field in description %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for field in row %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>no data</h2>
{% endif %}


{% endblock content %}




