<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Banana{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-rowlink.min.css" rel="stylesheet" media="screen">

    <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-rowlink.min.js"></script>
    <script src="{{ STATIC_URL }}highcharts/highcharts.js"></script>
    <script src="{{ STATIC_URL }}highcharts/exporting.js"></script>

    {% block morehead %}{% endblock %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"/>
</head>
<body>

<div class="navbar">
    <div class="navbar-inner">

            <a class="brand"><img src="{{ STATIC_URL }}logo.png" width=20 height=20></a>
        <ul class="nav">
            {% block navmain %}<li><a href="{% url 'databases' %}">Databases</a></li>{% endblock navmain %}
            {% block navdatabase %}{% endblock navdatabase %}
            {% block navdataset %}{% endblock navdataset %}
            {% block navdeep %}{% endblock %}
            {% block navdeeper %}{% endblock %}
            {% block navdepest %}{% endblock %}
        </ul>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message.tags }}</strong> {{ message }}
    </div>
    {% endfor %}
{% endif %}

<div class="container">
{% block content %}
Put something here
{% endblock content %}
</div>

</body>
</html>
