{% extends "base.html" %}

{% block title %}Databases · Banana{% endblock title %}


{% block navmain %}<li class="active"><a href="{% url 'databases' %}">Databases</a></li>{% endblock navmain %}


{% block content %}

{% if databases %}

<div class="row">
        <div class="span12 text-center">
            <img src="{{ STATIC_URL }}logo.png" width="200" height="200" style="margin-bottom:30px;">
        </div>
</div>
<div>
        <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                <th>name</th>
                <th>status</th>
                <th>type</th>
                <th>path</th>
                {% comment %}
                <th>locked</th>
                <th>scenarios</th>
                <th>started</th>
                <th>stoped</th>
                <th>crashed</th>
                <th>avg_uptime</th>
                <th>max_uptime</th>
                <th>min_uptime</th>
                <th>last_crash</th>
                <th>last_start</th>
                <th>last_stop</th>
                <th>crash_avg1</th>
                <th>crash_avg10</th>
                <th>crash_avg30</th>
                {% endcomment %}
            </tr>
            </thead>
            <tbody>
            {% for database in databases %}
            <tr{% if database.locked %} class="error"{% endif %}>
                <td><a href="{% url 'datasets' database.name %}">{{database.name }}</a></td>
                <td>{{ database.status }}{% if database.locked %}, locked{% endif %}</td>
                <td>{{ database.type }}</td>
                <td>{{ database.path }}</td>

                {% comment %}
                <td>{{ database.locked }}</td>
                <td>{{ database.scenarios }}</td>
                <td>{{ database.start_counter }}</td>
                <td>{{ database.stop_counter }}</td>
                <td>{{ database.crash_counter }}</td>
                <td>{{ database.avg_uptime }}</td>
                <td>{{ database.max_uptime }}</td>
                <td>{{ database.min_uptime }}</td>
                <td>{{ database.last_crash }}</td>
                <td>{{ database.last_start }}</td>
                <td>{{ database.last_stop }}</td>
                <td>{{ database.crash_avg1 }}</td>
                <td>{{ database.crash_avg10 }}</td>
                <td>{{ database.crash_avg30 }}</td>
                {% endcomment %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No databases are available.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}




