
{% extends "base.html" %}

{% load units %}

{% block title %}Extracted Source · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
<li><a href="{% url 'dataset' db_name extractedsource.image.dataset.id %}">Dataset {{ extractedsource.image.dataset }}</a></li>
{% endblock %}

{% block navdeep %}
<li><a href="{% url 'extractedsources' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Extracted Sources</a></li>
{% endblock %}

{% block navdeeper %}
<li class="active"><a href="{% url 'extractedsource' db_name extractedsource.id%}">Extracted Source {{ extractedsource.id }}</a></li>
{% endblock %}

{% block content %}
<h1>Extractedsource #{{ extractedsource.id }}</h1>


<div class="row">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>Position</dt>
            <dd>({{ extractedsource.ra|stringformat:".3f" }}&deg;, {{ extractedsource.decl|stringformat:".3f" }}&deg;) &pm; ({{ extractedsource.ra_err|stringformat:".3f" }}&Prime;, {{ extractedsource.decl_err|stringformat:".3f" }}&Prime;)</dd>

            <dt>Signal to noise</dt>
            <dd>{{ extractedsource.det_sigma|stringformat:".3f" }}</dd>

            <dt>Peak flux (Jy)</dt>
            <dd>{{ extractedsource.f_peak|scientific }} &pm; {{ extractedsource.f_peak_err|scientific }}</dd>

            <dt>Integrated flux (Jy)</dt>
            <dd>{{ extractedsource.f_int|scientific }} &pm; {{ extractedsource.f_int_err|scientific }}</dd>

            <dt>Dataset</dt>
            <dd><a href="{% url 'dataset' db_name extractedsource.image.dataset.id %}">{{ extractedsource.image.dataset.id }}</a></dd>

            <dt>Image</dt>
            <dd><a href="{% url 'image' db_name extractedsource.image.id %}">{{ extractedsource.image.id }}</a></dd>

            <dt>Running Catalogs</dt>
            <dd>
            {% for runcat in extractedsource.runningcatalogs.all %}
            <a href="{% url 'runningcatalog' db_name runcat.id %}">{{ runcat.id }}</a>
            {% empty %}
                None
            {% endfor %}
            </dd>

            <dt>semimajor</dt>
            <dd>{{ extractedsource.semimajor|scientific }}</dd>

            <dt>extract_type</dt>
            <dd>{{ extractedsource.extract_type }}</dd>

            <dt>zone</dt>
            <dd>{{ extractedsource.zone }}</dd>

            <dt>pa</dt>
            <dd>{{ extractedsource.pa|scientific }}</dd>

            <dt>x</dt>
            <dd>{{ extractedsource.x|scientific }}</dd>

            <dt>y</dt>
            <dd>{{ extractedsource.y|scientific }}</dd>

            <dt>z</dt>
            <dd>{{ extractedsource.z|scientific }}</dd>

            <dt>Margin</dt>
            <dd>{{ extractedsource.margin }}</dd>

            <dt>semiminor</dt>
            <dd>{{ extractedsource.semiminor|scientific }}</dd>
        </dl>
    </div>

    <div class="span6">
        <img src="{% url 'extractedsource_plot' db_name extractedsource.id %}?size=3">
    </div>
</div>

{% endblock content %}

