
{% extends "base.html" %}

{% load units %}

{% block title %}Running Catalog · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
<li><a href="{% url 'dataset' db_name runningcatalog.dataset.id %}">Dataset {{ runningcatalog.dataset }}</a></li>
{% endblock %}

{% block navdeep %}
<li><a href="{% url 'runningcatalogs' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Running Catalogs</a></li>
{% endblock %}

{% block navdeeper %}
<li class="active"><a href="{% url 'runningcatalog' db_name runningcatalog.id%}">Running Catalog {{ runningcatalog.id }}</a></li>
{% endblock %}

{% block content %}

<h1>Running Catalog #{{ runningcatalog.id }}</h1>

<h2>Properties</h2>

<div class="row">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>Position</dt>
            <dd>({{ runningcatalog.wm_ra|stringformat:".3f" }}&deg;, {{ runningcatalog.wm_decl|stringformat:".3f" }}&deg;) &pm; ({{ runningcatalog.wm_ra_err|stringformat:".3f" }}&Prime;, {{ runningcatalog.wm_decl_err|stringformat:".3f" }}&Prime;)</dd>
            <dt># of datapoints</dt>
            <dd>{{ runningcatalog.datapoints }}</dd>
            <dt>Dataset</dt>
            <dd><a href="{% url 'dataset' db_name runningcatalog.dataset.id %}">{{ runningcatalog.dataset }}</a></dd>
        </dl>
        <div class="text-center">
          <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ runningcatalog.wm_ra }}d-{{ runningcatalog.wm_decl }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10" class="btn">Simbad Cone Search</a>
        </div>
    </div>

    <div class="span6">
        <img src="{% url 'lightcurve_plot' db_name runningcatalog.id %}" />
    </div>
</div>


<h2>Extracted Sources</h2>

<div class="row">
    <div class="span12 text-center">
        <a href="?format=csv"><button class="btn" type="button">CSV format</button></a>
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
                <th>ID</th>
                <th>Date (UTC)</th>
                <th>Integration time (s)</th>
                <th>Frequency (Hz)</th>
                <th>Flux (Jy)</th>
                <th>Flux error (Jy)</th>
            </thead>
            <tbody>
                {% for extractedsource in extractedsources %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{% url 'extractedsource' db_name extractedsource.id %}">{{ extractedsource.id }}</a></td>
                    <td>{{ extractedsource.image.taustart_ts|date:"c" }}</td>
                    <td>{{ extractedsource.image.tau_time|scientific }}</td>
                    <td>{{ extractedsource.image.band.freq_central|scientific }}</td>
                    <td>{{ extractedsource.f_int|scientific }}</td>
                    <td>{{ extractedsource.f_int_err|scientific }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

