{% extends "base.html" %}

{% load units %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name transient.runcat.dataset_id %}">Dataset {{ transient.runcat.dataset_id }}</a></li>{% endblock %}
{% block navdeep %}<li><a href="{% url 'transients' db_name %}?dataset={{ transient.runcat.dataset_id }}">Transients</a></li>{% endblock %}
{% block navdeper %}<li class="active"><a href="{% url 'transient' db_name transient.id %}">Transient {{ transient.id }}</a></li>{% endblock %}

{% block title %}Transient {{ transient.id }} · Banana{% endblock title %}

{% block content %}

<h2>Transient #{{ transient.id }}</h2>
<div class="row">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>Position</dt>
            <dd>({{ transient.runcat.wm_ra|stringformat:".3f" }}&deg;,
                {{ transient.runcat.wm_decl|stringformat:".3f" }}&deg;) &pm;
                ({{ transient.runcatwm_ra_err|stringformat:".3f" }}&Prime;,
                {{ transientruncat.wm_decl_err|stringformat:".3f" }}&Prime;)</dd>
            <dt>Frequency band</dt>
            <dd>{{ transient.band }}</dd>
            <dt>Effective frequency</dt>
            <dd>{{ transient.freq_eff }} ?</dd>
            <dt>Significance level</dt>
            <dd>{{ transient.siglevel }}</dd>
            <dt>&eta;<sub>&nu;</sub></dt>
            <dd>{{ transient.eta_int|scientific }}</dd>
            <dt>V<sub>&nu;</sub></dt>
            <dd>{{ transient.v_int|scientific }}</dd>
            <dt>Start date</dt>
            <dd>{% if transient.t_start %}{{ transient.t_start|date:"c" }}{% else %} Unkown {% endif %}</dd>
            <dt># of datapoints</dt>
            <dd>{{ transient.runcat.datapoints }}</dd>
            <dt>Running cat #</dt>
            <dd><a href="{% url 'runningcatalog' db_name transient.runcat %}">{{ transient.runcat }}</a></dd>
            <dt>Dataset</dt>
            <dd><a href="{% url 'dataset' db_name transient.runcat.dataset_id %}">{{ transient.runcat.dataset.id }}</a></dd>
        </dl>
        <div class="text-center">
          <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ transient.runcat.wm_ra }}d-{{ transient.runcat.wm_decl }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10" class="btn">Simbad Cone Search</a>
        </div>
    </div>

    <div class="span6">
        <img src="{% url 'transient_plot' db_name transient.id %}">
    </div>
</div>

    <div class="span12">
        <div id='lightcurve'></div>
    </div>

{% if lightcurve %}
<h3>Lightcurve</h3>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
        <thead>
            <th>ID</th>
            <th>Date (UTC)</th>
            <th>Integration time (s)</th>
            <th>Frequency (Hz)</th>
            <th>Flux (Jy)</th>
            <th>Flux error (Jy)</th>
            <th>Thumbnail</th>
        </thead>
        <tbody>
            {% for point in lightcurve %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url 'extractedsource' db_name point.xtrsrc.id %}">{{ point.xtrsrc_id }}</a></td>
                <td>{{ point.xtrsrc.image.taustart_ts|date:"c" }}</td>
                <td>{{ point.xtrsrc.image.tau_time|scientific }}</td>
                <td>{{ point.xtrsrc.image.band.freq_central|scientific }}</td>
                <td>{{ point.xtrsrc.f_int|scientific }}</td>
                <td>{{ point.xtrsrc.f_int_err|scientific }}</td>
                <td><img src="{% url 'extractedsource_plot' db_name point.xtrsrc.id %}?size=1"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


<script>
    $(function () {
        $('#lightcurve').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },
            title: {
                text: 'Lightcurve for transient #{{transient.id}}'
            },
            subtitle: {
                text: 'yeah babeh'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    enabled: true,
                    text: 'moment'
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: 'Flux (jY)'
                }
            },

            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x}, {point.y}'
                    }
                }
            },
            series: [
                {% for freq, points in points_per_band.items %}
                    {
                        name: '{{ freq }}',
                        data: [
                            {% for time, flux in points %}
                                [{{ time }},{{ flux }}]
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        ]
                    }{% if not forloop.last %}, {% endif %}
                {% endfor %}
            ]
        });
    });
</script>


{% endblock content %}


