
{% extends "base.html" %}

{% load units %}

{% block title %}Transients · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
{% if dataset %}
<li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
{% endif %}
{% endblock %}

{% block navtransients %}
<li class="active"><a href="{% url 'transients' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Transients</a></li>
{% endblock %}


{% block content %}

{% if transients %}
<div class="row">
    <div class="span12">
        <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn" type="button">CSV format</button></a>
    </div>

    <div class="span12">
        <div class="pagination">
            <ul>
                {% if transients.has_previous %}
                <li><a href="?page={{ transients.previous_page_number }}{% if dataset %}&dataset={{ dataset }}{% endif %}">previous</a></li>
                {% else %}
                <li class="disabled"><a>previous</a></li>
                {% endif %}

                {% for page_num in transients.paginator.page_range %}
                <li{% if transients.number == page_num %} class="active"{% endif %}><a href="?page={{ page_num }}{% if dataset %}&dataset={{ dataset }}{% endif %}">{{ page_num }}</a></li>
                {% endfor %}

                <span class="current">
                </span>

                {% if transients.has_next %}
                <li><a href="?page={{ transients.next_page_number }}{% if dataset %}&dataset={{ dataset }}{% endif %}">next</a></li>
                {% else %}
                <li class="disabled"><a>next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                <th><a href="?page={{ transients.number }}&order={% if order == 'id' %}-{% endif %}id">Transient # {% if order == 'id' %}<i class="icon-arrow-down">{% elif order == '-id' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat.wm_ra' %}-{% endif %}runcat.wm_ra">Position (°) {% if order == 'runcat.wm_ra' %}<i class="icon-arrow-down">{% elif order == '-runcat.wm_ra' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat.wm_ra' %}-{% endif %}runcat.wm_ra">Position (h:m:s,d:m:s) {% if order == 'runcat.wm_ra' %}<i class="icon-arrow-down">{% elif order == '-runcat.wm_ra' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'startdate' %}-{% endif %}startdate">Start date {% if order == 'startdate' %}<i class="icon-arrow-down">{% elif order == '-startdate' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'siglevel' %}-{% endif %}siglevel">Significance level {% if order == 'siglevel' %}<i class="icon-arrow-down">{% elif order == '-siglevel' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'band' %}-{% endif %}band">Band {% if order == 'band' %}<i class="icon-arrow-down">{% elif order == '-band' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'freq_eff' %}-{% endif %}freq_eff">Freq_eff {% if order == 'freq_eff' %}<i class="icon-arrow-down">{% elif order == '-freq_eff' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'eta_int' %}-{% endif %}eta_int">ην {% if order == 'eta_int' %}<i class="icon-arrow-down">{% elif order == '-eta_int' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'v_int' %}-{% endif %}v_int">Vν{% if order == 'v_int' %}<i class="icon-arrow-down">{% elif order == '-v_int' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat.datapoints' %}-{% endif %}runcat.datapoints"># of datapoints {% if order == 'runcat.datapoints' %}<i class="icon-arrow-down">{% elif order == '-runcat.datapoints' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat' %}-{% endif %}runcat">Running cat. # {% if order == 'runcat' %}<i class="icon-arrow-down">{% elif order == '-runcat' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
            </tr>
            </thead>
            <tbody>
            {% for transient in transients %}
            <tr>
                <td><a href="{% url 'transient' db_name transient.id %}">{{ transient.id }}</a></td>
                <td>{{ transient.runcat.wm_ra|stringformat:".3f" }}, {{ transient.runcat.wm_decl|stringformat:".3f" }}</td>
                <td>{{ transient.runcat.wm_ra|format_angle:"time"}}, {{ transient.runcat.wm_decl|format_angle:"dms" }}</td>
                <td>{{ transient.startdate|date:"c" }}</td>
                <td>{{ transient.siglevel|stringformat:".3f" }}</td>
                <td>{{ transient.band }}</td>
                <td>{{ transient.freq_eff|mega }}</td>
                <td>{{ transient.eta_int|stringformat:".2f" }}</td>
                <td>{{ transient.v_int|stringformat:".4f" }}</td>
                <td>{{ transient.runcat.datapoints }}</td>
                <td>{{ transient.runcat }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% else %}
<p>No Transients.</p>
{% endif %}


{% endblock content %}
