{% extends "base.html" %}

{% load units %}

{% block title %}Extracted Source #{{ object.id }}{% endblock title %}

{% block header %}Extracted source #{{ object.id }}{% endblock %}
{% block description %}dataset #{{ dataset.id }} in database {{ db_name }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-info-circle"></i>
                    <h3 class="box-title">Running catalog properties</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Position (decimal)</dt>
                        <dd>({{ extractedsource.ra|stringformat:".3f" }}&deg;, {{ extractedsource.decl|stringformat:".3f" }}&deg;) &pm; ({{ extractedsource.ra_err|deg2asec|stringformat:".3f" }}&Prime;, {{ extractedsource.decl_err|deg2asec|stringformat:".3f" }}&Prime;)</dd>

                        <dt>Position (sexagesimal)</dt>
                        <dd>{% sexagesimal extractedsource.ra extractedsource.decl extractedsource.ra_err extractedsource.decl_err %}</dd>

                        <dt>Signal to noise</dt>
                        <dd>{{ extractedsource.det_sigma|stringformat:".3f" }}</dd>

                        <dt>Peak flux (Jy beam<sup>-1</sup>)</dt>
                        <dd>{{ extractedsource.f_peak|scientific }} &pm; {{ extractedsource.f_peak_err|scientific }}</dd>

                        <dt>Integrated flux (Jy)</dt>
                        <dd>{{ extractedsource.f_int|scientific }} &pm; {{ extractedsource.f_int_err|scientific }}</dd>

                        <dt>Dataset</dt>
                        <dd><a href="{% url 'dataset' db_name extractedsource.image.dataset.id %}">{{ extractedsource.image.dataset.id }}</a></dd>

                        <dt>Image</dt>
                        <dd><a href="{% url 'image' db_name extractedsource.image.id %}">{{ extractedsource.image.id }}</a></dd>

                        <dt>Running Catalogs</dt>
                        <dd>
                            {% for assocxtrsource in extractedsource.assocxtrsources.all %}
                                <a href="{% url 'runningcatalog' db_name assocxtrsource.runcat.id %}">{{ assocxtrsource.runcat.id }}</a>
                            {% empty %}
                                None
                            {% endfor %}
                        </dd>

                        <dt style='white-space: normal'>Semi-major axis (arcsec)</dt>
                        <dd>{{ extractedsource.semimajor|scientific }}</dd>

                        <dt style='white-space: normal'>Semi-minor axis (arcsec)</dt>
                        <dd>{{ extractedsource.semiminor|scientific }}</dd>

                        <dt>Position angle (deg)</dt>
                        <dd>{{ extractedsource.pa|scientific }}</dd>

                        <dt>extract_type</dt>
                        <dd>{{ extractedsource.extract_type }}</dd>

                        <dt>zone</dt>
                        <dd>{{ extractedsource.zone }}</dd>

                        <dt>x</dt>
                        <dd>{{ extractedsource.x|scientific }}</dd>

                        <dt>y</dt>
                        <dd>{{ extractedsource.y|scientific }}</dd>

                        <dt>z</dt>
                        <dd>{{ extractedsource.z|scientific }}</dd>

                        <dt>Margin</dt>
                        <dd>{{ extractedsource.margin }}</dd>

                    </dl>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa  fa-television"></i>
                    <h3 class="box-title">Extracted source sneak preview</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <img src="{% url 'extractedsource_plot' db_name extractedsource.id %}?size=3">
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

