{% extends "base.html" %}

{% load paginator %}
{% load tableheader %}
{% load units %}

{% block title %}Extracted Sources · Banana{% endblock title %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
{% if dataset %}
<li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
{% endif %}
{% endblock %}

{% block navdeep %}
<li class="active"><a href="{% url 'extractedsources' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Extracted Sources</a></li>
{% endblock %}

{% block content %}

{% if extractedsource_list %}
<div class="row">
    <div class="span12 text-center">
        <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn" type="button">CSV format</button></a>
    </div>

    <div class="span12 text-center">

        {% paginatorizer page_obj %}
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                {% tableheader 'id' %}
                {% tableheader 'ra' %}
                {% tableheader 'ra_err' %}
                {% tableheader 'decl' %}
                {% tableheader 'decl_err' %}
                {% tableheader 'det_sigma' %}
                {% tableheader 'f_peak' %}
                {% tableheader 'f_peak_err' %}
                {% tableheader 'f_int' %}
                {% tableheader 'f_int_err' %}
                {% tableheader 'extract_type' %}
            </tr>
            </thead>

            <tbody>
            {% for extractedsource in extractedsource_list %}
            <tr>
                <td><a href="{% url 'extractedsource' db_name extractedsource.id %}">{{ extractedsource.id }}</a></td>
                <td>{{ extractedsource.ra|stringformat:".3f" }}</td>
                <td>{{ extractedsource.ra_err|stringformat:".3f" }}</td>
                <td>{{ extractedsource.decl|stringformat:".3f" }}</td>
                <td>{{ extractedsource.decl_err|stringformat:".3f" }}</td>
                <td>{{ extractedsource.det_sigma|stringformat:".3f" }}</td>
                <td>{{ extractedsource.f_peak|stringformat:".3f" }}</td>
                <td>{{ extractedsource.f_peak_err|stringformat:".3f" }}</td>
                <td>{{ extractedsource.f_int|stringformat:".3f" }}</td>
                <td>{{ extractedsource.f_int_err|stringformat:".3f" }}</td>
                <td>{{ extractedsource.extract_type }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span12 text-center">
        {% paginatorizer page_obj %}
    </div>


</div>
{% else %}
<p>No Extracted Sources.</p>
{% endif %}


{% endblock content %}
