{% extends "base.html" %}

{% block title %}Image {{ object.id }} · Banana{% endblock title %}

{% load tableheader %}
{% load paginator %}
{% load units %}

{% block morehead %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.maphilight.min.js"></script>
<script type="text/javascript">$(function() {
    $('.map').maphilight();
});</script>

{% endblock %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name object.dataset_id %}">Dataset {{ object.dataset_id }}</a></li>{% endblock %}
{% block navdeep %}<li><a href="{% url 'images' db_name %}?dataset={{ object.dataset_id }}">Images</a></li>{% endblock %}
{% block navdeeper %}<li class="active"><a href="{% url 'image' db_name object.id %}">Image {{ object.id }}</a></li>{% endblock %}


{% block content %}


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
        <div data-spy="affix">
          <a href="{% url 'bigimage' db_name object.id %}" class="btn">detailed view</a>

          {% with object.get_next_by_taustart_ts_only as next %}
          {% if next %}
                <a href="{% url 'image' db_name next.id %}" class="btn">Next image (by time)</a>
          {% endif %}
          {% endwith %}

          <img src="{% url 'image_plot' db_name object.id %}?size={{ image_size }}" class="map" usemap="#simple">

             <dl class="dl-horizontal">
                <dt>Image ID</dt>
                <dd>{{ object.id }}</dd>

                <dt>Dataset</dt>
                <dd>{{ object.dataset }}</dd>

                <dt>Centre</dt>
                <dd>{{ object.skyrgn.centre_ra|floatformat:3 }}, {{ object.skyrgn.centre_decl|floatformat:3 }}</dd>

                <dt>start date (UT)</dt>
                <dd>{{ object.taustart_ts }}</dd>

                <dt>Integration time</dt>
                <dd>{{ object.tau_time|floatformat:3 }}</dd>

                <dt>Frequency <small>Hz</small></dt>
                <dd>{{ object.freq_eff|scientific  }}</dd>

                <dt>Bandwidth <small>Hz</small></dt>
                <dd>{{ object.freq_bw|scientific }}</dd>

                <dt>Rejections</dt>
                <dd>{{ object.rejections.all|yesno }} </dd>

                <dt>Number of sources</dt>
                <dd>{{ object.extractedsources.count }}</dd>

                <dt>Filename</dt>
                <dd>{{ object.filename }}</dd>

                <dt>Stokes</dt>
                <dd>{{ object.stokes }}</dd>

                <dt>Tau</dt>
                <dd>{{ object.tau }}</dd>

                <dt>Band</dt>
                <dd>{{ object.band }}</dd>

                <dt>rb_smaj</dt>
                <dd>{{ object.rb_smaj|floatformat:3 }}</dd>

                <dt>rb_smin</dt>
                <dd>{{ object.rb_smin|floatformat:3 }}</dd>

                <dt>rb_pa</dt>
                <dd>{{ object.rb_pa|floatformat:3 }}</dd>

                <dt>Delta X</dt>
                <dd>{{ object.deltax|floatformat:3 }}</dd>

                <dt>Delta Y</dt>
                <dd>{{ object.deltay|floatformat:3 }}</dd>

                <dt>fwhm_arcsec</dt>
                <dd>{{ object.fwhm_arcsec }}</dd>

                <dt>fov_degrees</dt>
                <dd>{{ object.fov_degrees }}</dd>

                <dt>RMS<sub>qc</sub></dt>
                <dd>{{ object.rms_qc|floatformat:3 }}</dd>

                <dt>RMS<sub>min</sub></dt>
                <dd>{{ object.rms_min|floatformat:3 }}</dd>

                <dt>RMS<sub>max</sub></dt>
                <dd>{{ object.rms_max|floatformat:3 }}</dd>
            </dl>
        </div>
    </div>
    <div class="span7">
        {% if object.extractedsources.all %}

        <div class="row-fluid">
            <div class="span12 text-center">
                {% paginatorizer %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-striped responsive-utilities table-condensed" >
                    <thead>
                        <tr>
                            {% tableheader 'id' %}
                            {% tableheader 'ra' 'Ra(°)'%}
                            {% tableheader 'decl' 'Dec(°)' %}
                            {% tableheader 'ra_err' 'Ra Error(″)'%}
                            {% tableheader 'decl_err' 'Dec Error(″)' %}
                            {% tableheader 'ra' 'Sexagesimal' %}
                            {% tableheader 'f_peak' 'Peak Flux (Jy)' %}
                            {% tableheader 'f_peak_err' 'Peak Flux err (Jy)' %}
                            {% tableheader 'f_int' 'Int. flux (Jy)'  %}
                            {% tableheader 'f_int_err' 'Int. flux err (Jy)' %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for source in object_list %}
                    <tr id="row{{ source.id }}">
                        <td><a href="{% url 'extractedsource' db_name source.id %}">{{ source.id }}</a></td>
                        <td>{{ source.ra|floatformat:3 }}</td>
                        <td>{{ source.decl|floatformat:3 }}</td>
                        <td>{{ source.ra_err|deg2asec|floatformat:3 }}</td>
                        <td>{{ source.decl_err|deg2asec|floatformat:3 }}</td>
                        <td>{% sexagesimal source.ra source.decl source.ra_err source.decl_err %}</td>
                        <td>{{ source.f_peak|scientific }}</td>
                        <td>{{ source.f_peak_err|scientific }}</td>
                        <td>{{ source.f_int|scientific }}</td>
                        <td>{{ source.f_int_err|scientific }}</td>

                    </tr>
                    </a>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No sources.</p>
                {% endif %}
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12 text-center">
                {% paginatorizer %}
            </div>
        </div>

    </div>
  </div>
</div>

<script>
{% for source in object_list %}
$('#row{{ source.id }}').mouseover(function(e) {
    $('#{{ source.id }}').mouseover();
}).mouseout(function(e) {
    $('#{{ source.id }}').mouseout();
});
{% endfor %}
</script>

<map name="simple">
    {% for id, x, y, size in pixels %}
        <area shape="circle" id="{{ id }}" coords="{{ x }}, {{ y }}, {{ size }}" href="{% url 'extractedsource' db_name id %}" alt="{{ id }}" title="{{ id }}" >
    {% endfor %}
</map>



{% endblock content %}


