{% extends "base.html" %}

{% load paginator %}

{% block title %}Images · Banana{% endblock title %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
{% if dataset %}
<li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
{% endif %}
{% endblock %}

{% block navdeep %}
<li class="active"><a href="{% url 'images' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Images</a></li>
{% endblock %}

{% block content %}

{% load units %}

<div class="row-fluid">
    {% if image_list %}
        <div class="span12 text-center">
            <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn" type="button">CSV format</button></a>
        </div>

        <div class="span12 text-center">
            {% paginatorizer %}
        </div>


        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                <th><a href="?page={{ images.number }}&order={% if order == 'id' %}-{% endif %}id{% if dataset %}&dataset={{ dataset }}{% endif %}">Image #{% if order == 'id' %}<i class="icon-arrow-down">{% elif order == '-id' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ images.number }}&order={% if order == 'skyrgn__centre_ra' %}-{% endif %}skyrgn__centre_ra{% if dataset %}&dataset={{ dataset }}{% endif %}">center{% if order == 'skyrgn__centre_ra' %}<i class="icon-arrow-down">{% elif order == '-skyrgn__centre_ra' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ images.number }}&order={% if order == 'taustart_ts' %}-{% endif %}taustart_ts{% if dataset %}&dataset={{ dataset }}{% endif %}">start date (UT){% if order == 'taustart_ts' %}<i class="icon-arrow-down">{% elif order == '-taustart_ts' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ images.number }}&order={% if order == 'tau_time' %}-{% endif %}tau_time{% if dataset %}&dataset={{ dataset }}{% endif %}">integration time <small>seconds</small>{% if order == 'tau_time' %}<i class="icon-arrow-down">{% elif order == '-tau_time' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ images.number }}&order={% if order == 'freq_eff' %}-{% endif %}freq_eff{% if dataset %}&dataset={{ dataset }}{% endif %}">Frequency <small>Hz</small>{% if order == 'freq_eff' %}<i class="icon-arrow-down">{% elif order == '-freq_eff' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ images.number }}&order={% if order == 'freq_bw' %}-{% endif %}freq_bw{% if dataset %}&dataset={{ dataset }}{% endif %}">Bandwidth <small>hz</small>{% if order == 'freq_bw' %}<i class="icon-arrow-down">{% elif order == '-freq_bw' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ images.number }}&order={% if order == 'num_extractedsources' %}-{% endif %}num_extractedsources{% if dataset %}&dataset={{ dataset }}{% endif %}"># sources{% if order == 'num_extractedsources' %}<i class="icon-arrow-down">{% elif order == '-num_extractedsources' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th>Rejection</th>
                <th><a href="?page={{ images.number }}&order={% if order == 'url' %}-{% endif %}url{% if dataset %}&dataset={{ dataset }}{% endif %}">Filename{% if order == 'url' %}<i class="icon-arrow-down">{% elif order == '-url' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
            </tr>
            </thead>
            <tbody>
            {% for image in image_list %}
            <tr{% if image.rejections.all %} class="error"{% endif %}>
                <td><a href="{% url 'image' db_name image.id %}">{{ image.id }}</a></td>
                <td>{{ image.skyrgn.centre_ra|floatformat:3 }}, {{ image.skyrgn.centre_decl|floatformat:3 }}</td>
                <td>{{ image.taustart_ts }}</td>
                <td>{{ image.tau_time|scientific }}</td>
                <td>{{ image.freq_eff|scientific  }}</td>
                <td>{{ image.freq_bw|scientific  }}</td>
                <td>{{ image.num_extractedsources }}</td>
                <td>{{ image.rejections.all|join:" and " }}</td>
                <td>{{ image.filename }}</td>
            </tr>
            </a>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>

{% else %}
<p>No images.</p>
{% endif %}
</div>

{% endblock content %}

