{% extends "base.html" %}

{% block title %}Image {{ object.id }} JS9{% endblock title %}

{% block morehead %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/js9/js9-allinone.css">
  <script type="text/javascript" src="{{ STATIC_URL }}/js9/js9-allinone.js"></script>
{% endblock %}

{% block header %}detailed image view for image: {{ object.id }}{% endblock %}
{% block description %}dataset #{{ dataset.id }} in database {{ db_name }}{% endblock %}

{% block bodytag %}<body onload="init()" class="hold-transition skin-blue sidebar-mini">{% endblock %}

{% block content %}

    <div class="container-fluid">
            <div>
                <a href="{%  url 'rawimage' db_name object.id %}">
                    <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-fa-download"></i>Download FITS file</button>
                </a>
            </div>
            <div id="size1024">
                <div class="JS9Menubar" id="JS9-1024_Menubar" data-width="600px"></div>
                <div class="JS9" id="JS9-1024" data-width="600px" data-height="600px"></div>
            </div>
        </div>

        <script type="text/javascript">
            function init(){
                JS9.Load("{%  url 'rawimage' db_name object.id %}", {onload: doit});
            }

            var extract_types = ["blind fit", "forced fit", "monitored position"]

            function doit(){
                var sources = [];

                var opt = $.extend(true, {}, JS9.Catalogs.opts);
                opt.tooltip =
                        "<b>id: $xreg.data.id<\/b><br>" +
                        "ra: $xreg.data.ra<br>" +
                        "decl: $xreg.data.decl<br>" +
                        "type: $xreg.data.type";
                opt.onmouseup = function(im, xreg, evt){
                    window.open(xreg.data.url);
                };

                {% for point in lightcurve  %}
                pix = JS9.WCSToPix({{ point.ra }}, {{ point.decl }});
                data = {
                    id: {{ point.id }},
                    type: extract_types[{{ point.extract_type }}],
                    ra: {{ point.ra }},
                    decl: {{ point.decl }},
                    url: "{% url 'extractedsource' db_name point.id %}"
                }

                {%  if point.extract_type == 0 %}sources.push({x: pix.x, y: pix.y, shape: "box", color: "yellow", radius: 5, data: data});
                {% elif point.extract_type == 1 %}sources.push({x: pix.x, y: pix.y, shape: "circle", color: "lightgreen", radius: 5, data: data});
                {% elif point.extract_type == 2 %}sources.push({x: pix.x, y: pix.y, shape: "circle", color: "red", radius: 5, data: data});
                {% endif %}{% endfor %}

                JS9.NewShapeLayer("extracted sources", opt);
                JS9.AddShapes("extracted sources", sources);

            }
        </script>
    </div>

{% endblock content %}


