
{% extends "base.html" %}

{% load paginator %}
{% load units %}
{% load tableheader %}


{% block title %}Monitoringlist{% endblock title %}
{% block header %}Monitoringlists{% endblock %}


{% block content %}
    <div class="container-fluid">
        {% if object_list %}
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                {% paginatorizer %}
                            </div>

                            <div class="col-md-2 text-center">
                                <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn btn-default" type="button">CSV format</button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped responsive-utilities table-condensed " >
                                    <thead>
                                    <tr>
                                        {% tableheader 'id' %}
                                        {% tableheader 'dataset' %}
                                        {% tableheader 'ra' 'RA (°)' %}
                                        {% tableheader 'decl' 'Dec (°)' %}
                                        {% tableheader 'ra' 'RA (hh:mm:ss.s)' %}
                                        {% tableheader 'decl' 'Dec (dd:mm:ss.s)' %}
                                        {% tableheader 'runcat' %}
                                        {% tableheader 'name'  %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td><a href="{% url 'monitor' db_name object.id %}">{{ object.id }}</a></td>
                                            <td><a href="{% url 'dataset' db_name object.dataset.id %}">{{ object.dataset }}</a></td>
                                            <td>{{ object.ra|stringformat:".3f" }}</td>
                                            <td>{{ object.decl|stringformat:".3f" }}</td>
                                            <td>{{object.ra|format_angle:"time"}}</td>
                                            <td>{{object.decl|format_angle:"dms"}}</td>
                                            <td>{% if object.runcat %}<a href="{% url 'runningcatalog' db_name object.runcat.id %}">{{ object.runcat }}{% else %}None{% endif %}</a></td>
                                            <td>{{ object.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1 class="text-center">No monitors</h1>
        {% endif %}
    </div>
{% endblock content %}
