{% extends "base.html" %}

{% load paginator %}
{% load tableheader %}
{% load units %}

{% block title %}Monitoringlist #{{ object.id }}{% endblock title %}

{% block header %}Monitoringlist #{{ object.id }}{% endblock %}
{% block description %}dataset #{{ dataset.id }} in database {{ db_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-solid">
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>ID</dt>
                            <dd><a href="{% url 'monitor' db_name object.id %}">{{ object.id }}</a></dd>

                            <dt>Dataset</dt>
                            <dd><a href="{% url 'dataset' db_name object.dataset.id %}">{{ object.dataset }}</a></dd>

                            <dt>RA (°)</dt>
                            <dd>{{ object.ra|stringformat:".3f" }}</dd>

                            <dt>Dec (°)</dt>
                            <dd>{{ object.decl|stringformat:".3f" }}</dd>

                            <dt>RA (hh:mm:ss.s)</dt>
                            <dd>{{object.ra|format_angle:"time"}}</dd>

                            <dt>Dec(dd:mm:ss.s)</dt>
                            <dd>{{object.decl|format_angle:"dms"}}</dd>

                            <dt>Running catalog</dt>
                            <dd>{% if object.runcat %}<a href="{% url 'runningcatalog' db_name object.runcat.id %}">{{ object.runcat }}{% else %}None{% endif %}</a></dd>

                            <dt>Name</dt>
                            <dd>{{ object.name }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
