
{% extends "base.html" %}

{% load units %}

{% block title %}Monitoringlist · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
<li><a href="{% url 'dataset' db_name monitoringlist.dataset.id %}">Dataset {{ monitoringlist.dataset }}</a></li>
{% endblock %}

{% block navdeep %}
<li><a href="{% url 'monitoringlists' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Monitoringlists</a></li>
{% endblock %}

{% block navdeeper %}
<li class="active"><a href="{% url 'monitoringlist' db_name monitoringlist.id%}">Monitoringlist {{ monitoringlist.id }}</a></li>
{% endblock %}

{% block content %}
<h1>Monitoringlist #{{ monitoringlist.id }}</h1>


<div class="row-fluid">
    <div class="span12">
        <dl class="dl-horizontal">
            <dt>Monitoring ID</dt>
            <dd>{{ monitoringlist.id }}</dd>

            <dt>runcat</dt>
            <dd><a href="{% url 'runningcatalog' db_name monitoringlist.runcat%}">{{ monitoringlist.runcat }}</a></dd>

            <dt>Position (decimal)</dt>
            <dd>({{ monitoringlist.ra|stringformat:".3f" }}&deg;, {{ monitoringlist.decl|stringformat:".3f" }}&deg;)</dd>

            <dt>Position (Sexagesimal)</dt>
            <dd>({{ monitoringlist.ra|format_angle }}, {{ monitoringlist.decl|format_angle:"dms" }})</dd>

            <dt>dataset</dt>
            <dd><a href="{% url 'dataset' db_name monitoringlist.dataset.id%}">#{{monitoringlist.dataset.id }}: {{ monitoringlist.dataset.description }}</a></dd>

            <dt>userentry</dt>
            <dd>{{ monitoringlist.userentry }}</a></dd>
        </dl>
    </div>

{% endblock content %}

