{% extends "base.html" %}

{% load units %}
{% load paginator %}
{% load tableheader %}
{% load query_replace %}
{% load flux_units_dropdown %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name object.runcat.dataset_id %}">Dataset {{ object.runcat.dataset_id }}</a></li>{% endblock %}
{% block navdeep %}<li><a href="{% url 'newsources' db_name %}?dataset={{ object.runcat.dataset_id }}">New Sources</a></li>{% endblock %}
{% block navdeeper %}<li class="active"><a href="{% url 'newsource' db_name object.id %}">New source {{ object.id }}</a></li>{% endblock %}

{% block title %}New source {{ object.id }} · Banana{% endblock title %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2>New source #{{ object.id }}</h2>
            <div class="col-md-7">
                <div id='lightcurve'></div>
                <dl class="dl-horizontal">
                    <dt>Position</dt>
                    <dd>({{ object.runcat.wm_ra|stringformat:".3f" }}&deg;,
                        {{ object.runcat.wm_decl|stringformat:".3f" }}&deg;) &pm;
                        ({{ object.runcat.ra_err|deg2asec|stringformat:".3f" }}&Prime;,
                        {{ object.runcat.decl_err|deg2asec|stringformat:".3f" }}&Prime;)</dd>
                    <dt># of datapoints</dt>
                    <dd>{{ object.runcat.datapoints }}</dd>
                    <dt>Running cat #</dt>
                    <dd><a href="{% url 'runningcatalog' db_name object.runcat %}">{{ object.runcat }}</a></dd>
                    <dt>Dataset</dt>
                    <dd><a href="{% url 'dataset' db_name object.runcat.dataset_id %}">{{ object.runcat.dataset.id }}</a></dd>
                    <dt>Trigger</dt>
                    <dd><a href="{% url 'extractedsource' db_name object.trigger_xtrsrc %}">{{ object.trigger_xtrsrc }}</a></dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}


