{% extends "base.html" %}

{% load units %}
{% load paginator %}
{% load tableheader %}
{% load query_replace %}
{% load flux_units_dropdown %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name object.runcat.dataset_id %}">Dataset {{ object.runcat.dataset_id }}</a></li>{% endblock %}
{% block navdeep %}<li><a href="{% url 'newsources' db_name %}?dataset={{ object.runcat.dataset_id }}">New Sources</a></li>{% endblock %}
{% block navdeper %}<li class="active"><a href="{% url 'transient' db_name object.id %}">Transient {{ object.id }}</a></li>{% endblock %}

{% block title %}Transient {{ object.id }} · Banana{% endblock title %}

{% block morehead %}
    <!-- required for error bars -->
    <script src="{{ STATIC_URL }}highcharts/highcharts-more.js"></script>

    <!-- include Aladin Lite CSS  -->
    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
{% endblock %}

{% block content %}


<div class="row-fluid">
    <div class="span5">
        <h2>New source #{{ object.id }}</h2>
        <div class="text-center">
            <!-- Aladin Lite viewer  -->
            <div id="aladin-lite-div" style="width:420px;height:420px;"></div>
            <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
            <script type="text/javascript">
                var aladin = A.aladin('#aladin-lite-div');
                aladin.setZoom(0.18);
                aladin.gotoPosition({{ object.runcat.wm_ra }}, {{ object.runcat.wm_decl }});
                aladin.setImageSurvey("P/DSS2/color");
            </script>
        </div>

        <h5>({{object.index_in_dataset|add:1 }} of {{object.number_in_dataset}} in Dataset {{object.runcat.dataset_id}})</h5>
        {% include "includes/transient_paginator.html" %}
    </div>

    <div class="span7">
        <div id='lightcurve'></div>

        <dl class="dl-horizontal">
            <dt>Position</dt>
            <dd>({{ object.runcat.wm_ra|stringformat:".3f" }}&deg;,
                {{ object.runcat.wm_decl|stringformat:".3f" }}&deg;) &pm;
                ({{ object.runcat.ra_err|deg2asec|stringformat:".3f" }}&Prime;,
                {{ object.runcat.decl_err|deg2asec|stringformat:".3f" }}&Prime;)</dd>
            <dd>{{ object.freq_eff }} ?</dd>
            <dt>Significance level</dt>
            <dd>{{ object.siglevel|stringformat:".3f" }}</dd>
            <dt>&eta;<sub>&nu;</sub></dt>
            <dd>{{ object.eta_int|scientific }}</dd>
            <dt>V<sub>&nu;</sub></dt>
            <dd>{{ object.v_int|scientific }}</dd>
            <dt>Start date</dt>
            <dd>{% if object.t_start %}{{ object.t_start|date:"c" }}{% else %} Unknown {% endif %}</dd>
            <dt># of datapoints</dt>
            <dd>{{ object.runcat.datapoints }}</dd>
            <dt>Running cat #</dt>
            <dd><a href="{% url 'runningcatalog' db_name object.runcat %}">{{ object.runcat }}</a></dd>
            <dt>Dataset</dt>
            <dd><a href="{% url 'dataset' db_name object.runcat.dataset_id %}">{{ object.runcat.dataset.id }}</a></dd>
            <dt>Trigger</dt>
            <dd><a href="{% url 'extractedsource' db_name object.trigger_xtrsrc %}">{{ object.trigger_xtrsrc }}</a></dd>
            <dt>Max flux</dt>
            <dd>{{ object.lightcurve_max|stringformat:".3f" }}</dd>
            <dt>Mean flux</dt>
            <dd>{{ object.lightcurve_mean|stringformat:".3f" }}</dd>
            <dt>Median flux</dt>
            <dd>{{ object.lightcurve_median|stringformat:".3f" }}</dd>
        </dl>

    </div>


{% if object_list %}


<div class="row-fluid">
    <div class="span2">
        <h3>Lightcurve</h3>
    </div>

    <div class="span2">
        {% paginatorizer %}
    </div>

    <div class="span8">
        <a href="?format=csv"><button class="btn" type="button">CSV format</button></a>
        <a href="?{% query_invert_bool 'thumb' %}"><button class="btn" type="button">Thumbnails</button></a>
        {% flux_units_dropdown %}
        <a href="{% url 'runningcatalogs' db_name %}?ra={{ object.runcat.wm_ra }}&decl={{ object.runcat.wm_decl }}&distance=0.03&order=distance&dataset={{ object.runcat.dataset_id }}" class="btn">Possible Associations</a>
        <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ object.runcat.wm_ra }}d{{ object.runcat.wm_decl }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10" class="btn">Simbad Cone Search</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed ">
            <thead>
                {% tableheader 'id' 'ID' %}
                {% tableheader 'image__taustart_ts' 'Date (UTC)' %}
                {% tableheader 'image__tau_time' 'Integration time (s)' %}
                {% tableheader 'image__band__freq_central' 'Frequency (Hz)' %}
                {% tableheader 'f_int' 'Int. flux (Jy)' %}
                {% tableheader 'f_int_err' 'Int flux err (Jy)' %}
                {% tableheader 'f_peak' 'Peak flux (Jy)' %}
                {% tableheader 'f_peak_err' 'Peak flux err (Jy)' %}
                {% tableheader 'extract_type' 'xtract type' %}
                {% if request.GET.thumb == "1" %}
                    {% tableheader 'thumbnail' %}
                {% endif %}
                {% tableheader 'image' 'Image ID' %}
            </thead>
            <tbody>
                {% with request.GET.flux_prefix as prefix %}
                {% for point in object_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{% url 'extractedsource' db_name point.id %}">{{ point.id }}</a></td>
                    <td>{{ point.image.taustart_ts|date:"c" }}</td>
                    <td>{{ point.image.tau_time|scientific }}</td>
                    <td>{{ point.image.band.freq_central|scientific }}</td>
                    <td>{{ point.f_int|flux_unit:prefix|scientific }}</td>
                    <td>{{ point.f_int_err|flux_unit:prefix|scientific }}</td>
                    <td>{{ point.f_peak|flux_unit:prefix|scientific }}</td>
                    <td>{{ point.f_peak_err|flux_unit:prefix|scientific }}</td>
                    <td>{{ point.extract_type }}</td>
                    {% if request.GET.thumb == "1" %}
                        <td><img src="{% url 'extractedsource_plot' db_name point.id %}?size=1"></td>
                    {% endif %}
                    <td><a href="{% url 'image' db_name point.image.id %}">{{ point.image.id }}</td>
                </tr>
                {% endfor %}
                {% endwith %}
            </tbody>
        </table>
    </div>

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>

</div>
{% endif %}


<script>
    // get data from django template
    var lightcurve = [
        {% for point in paginator.object_list %}{
            "band": '{{ point.image.band }}',
            "taustart_ts": {{ point.image.taustart_ts|datetime2miliseconds }},
            "f_int": {{ point.f_int }},
            "f_int_err": {{ point.f_int_err }},
            "tau_time": {{ point.image.tau_time }},
            "extract_type": {{ point.extract_type }},
        }{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var title = 'Lightcurve for transient #{{object.id}}';
    var subtitle = 'start date {% if object.t_start %}{{ object.t_start|date:"c" }}{% else %} Unknown {% endif %}';

    var trigger_f_int = {{ object.trigger_xtrsrc.f_int }};
    var trigger_taustart_ts = {{ object.trigger_xtrsrc.image.taustart_ts|datetime2miliseconds }};
    var trigger_f_int_err = {{ object.trigger_xtrsrc.f_int_err }};
    var trigger_extract_type = {{ object.trigger_xtrsrc.extract_type }};
    var trigger_tau_time = {{ object.trigger_xtrsrc.image.tau_time }};
    var trigger_symbol = "url({{ STATIC_URL }}circle.png)";
</script>

<script src="{{ STATIC_URL }}lightcurve.js"></script>

{% endblock content %}


