{% extends "base.html" %}

{% load units %}
{% load paginator %}
{% load tableheader %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name object.dataset.id %}">Dataset {{ object.dataset }}</a></li>{% endblock %}
{% block navdeep %}<li><a href="{% url 'runningcatalogs' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Running Catalogs</a></li>{% endblock %}

{% block navdeeper %}
<li class="active"><a href="{% url 'runningcatalog' db_name object.id%}">Running Catalog {{ object.id }}</a></li>
{% endblock %}

{% block title %}Running Catalog · Banana{% endblock title %}

{% block morehead %}
    <!-- required for error bars -->
    <script src="{{ STATIC_URL }}highcharts/highcharts-more.js"></script>

    <!-- include Aladin Lite CSS  -->
    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
{% endblock %}

{% block content %}


<div class="row-fluid">
    <div class="span5">

        <h2>Running Catalog #{{ object.id }}</h2>

        <div class="text-center">
            <!-- Aladin Lite viewer  -->
            <div id="aladin-lite-div" style="width:420px;height:420px;"></div>
            <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
            <script type="text/javascript">
                var aladin = A.aladin('#aladin-lite-div');
                aladin.setZoom(0.18);
                aladin.gotoPosition({{ object.wm_ra }}, {{ object.wm_decl }});
                aladin.setImageSurvey("P/DSS2/color");
            </script>
        </div>
    </div>

    <div class="span7">
        <div id='lightcurve'></div>

        <dl class="dl-horizontal">
            <dt>Position</dt>
            <dd>({{ object.wm_ra|stringformat:".3f" }}°,
                {{ object.wm_decl|stringformat:".3f" }}°) &pm;
                ({{ object.ra_err|deg2asec|stringformat:".3f" }}″,
                {{ object.wm_uncertainty_ns|deg2asec|stringformat:".3f" }}″)</dd>
            <dt># of datapoints</dt>
            <dd>{{ object.datapoints }}</dd>
            <dt>Dataset</dt>
            <dd><a href="{% url 'dataset' db_name object.dataset.id %}">{{ object.dataset }}</a></dd>
            <dt>Max flux</dt>
            <dd>{{  object.lightcurve_max|stringformat:".3f" }}</dd>
            <dt>Mean flux</dt>
            <dd>{{ object.lightcurve_mean|stringformat:".3f" }}</dd>
            <dt>Median flux</dt>
            <dd>{{ object.lightcurve_median|stringformat:".3f" }}</dd>
        </dl>

        <div class="text-center">

        </div>
    </div>
</div>

{% if object_list %}
<div class="row-fluid">
    <div class="row-fluid">
        <div class="span4">
            <h2>Lightcurve</h2>
        </div>
        <div class="span4">
            {% paginatorizer %}
        </div>
        <div class="span2">
            <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ object.wm_ra }}d{{ object.wm_decl }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10" class="btn">Simbad Cone Search</a>
        </div>
        <div class="span2">
            <a href="?format=csv"><button class="btn" type="button">CSV format</button></a>
        </div>
    </div>
    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed ">
            <thead>
                {% tableheader 'id' 'ID' %}
                {% tableheader 'image__taustart_ts' 'Date (UTC)' %}
                {% tableheader 'image__tau_time' 'Integration time (s)' %}
                {% tableheader 'image__band__freq_central' 'Frequency (Hz)' %}
                {% tableheader 'f_int' 'Flux (Jy)' %}
                {% tableheader 'f_int_err' 'Flux error (Jy)' %}
                {% tableheader 'extract_type' 'xtract type' %}
                {% tableheader 'image' 'Image ID' %}

            </thead>
            <tbody>
                {% for point in object_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{% url 'extractedsource' db_name point.id %}">{{ point.id }}</a></td>
                    <td>{{ point.image.taustart_ts|date:"c" }}</td>
                    <td>{{ point.image.tau_time|scientific }}</td>
                    <td>{{ point.image.band.freq_central|scientific }}</td>
                    <td>{{ point.f_int|scientific }}</td>
                    <td>{{ point.f_int_err|scientific }}</td>
                    <td>{{ point.extract_type }}</td>
                    <td><a href="{% url 'image' db_name point.image.id %}">{{ point.image.id }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span12 text-center">
        {% paginatorizer %}
    </div>
</div>

<script>
imgs = {
    {% for point in object_list %}{{point.id}}: '{% url 'extractedsource_plot' db_name point.id %}?size=1'{% if not forloop.last %},{% endif %}
    {% endfor %}
};

function showThumbnails() {
    for (key in imgs) {
        var elem = document.createElement("img");
        elem.src = imgs[key];
        document.getElementById("thumbnail" + key).appendChild(elem);
    }
}
</script>
{% endif %}


<script>
    // get data from django template
    var lightcurve = [
        {% for point in paginator.object_list %}{
            "band": '{{ point.image.band }}',
            "taustart_ts": {{ point.image.taustart_ts|datetime2miliseconds }},
            "f_int": {{ point.f_int }},
            "f_int_err": {{ point.f_int_err }},
            "tau_time": {{ point.image.tau_time }},
            "extract_type": {{ point.extract_type }},
        }{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    var title = 'Lightcurve for Running Catalog #{{ object.id }}';
var subtitle = 'start date {% if object.t_start %}{{ object.t_start|date:"c" }}{% else %} Unknown {% endif %}';
</script>

<script src="{{ STATIC_URL }}lightcurve.js"></script>

{% endblock content %}

