{% extends "base.html" %}

{% load units %}
{% load paginator %}
{% load tableheader %}
{% load query_replace %}
{% load flux_units_dropdown %}
{% load floatmath %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
    <li><a href="{% url 'dataset' db_name object.dataset.id %}">{{ object.dataset }}</a></li>
{% endblock %}

{% block navdeep %}
    <li><a href="{% url 'runningcatalogs' db_name %}?dataset={{ object.dataset.id }}">Running Catalogs</a></li>
{% endblock %}

{% block navdeeper %}
    <li class="active"><a href="{% url 'runningcatalog' db_name object.id%}">Running Catalog {{ object.id }}</a></li>
{% endblock %}

{% block title %}Running Catalog · Banana{% endblock title %}

{% block morehead %}
    <!-- required for error bars -->
    <script src="{{ STATIC_URL }}highcharts/highcharts-more.js"></script>

    <!-- include Aladin Lite CSS  -->
    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h2>Running Catalog #{{ object.id }}</h2>

                <div class="text-center">
                    <!-- Aladin Lite viewer  -->
                    <div id="aladin-lite-div" style="width:400px;height:400px;"></div>
                    <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
                    <script type="text/javascript">
                        var aladin = A.aladin('#aladin-lite-div');
                        aladin.setZoom(0.18);
                        aladin.gotoPosition({{ object.wm_ra }}, {{ object.wm_decl }});
                        aladin.setImageSurvey("P/DSS2/color");
                    </script>
                </div>
            </div>

            <div class="col-md-7">
                <div id='lightcurve'></div>

                <div class="row well well-sm">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Position</dt>
                            <dd>({{ object.wm_ra|stringformat:".3f" }}°,
                                {{ object.wm_decl|stringformat:".3f" }}°) &pm;
                                ({{ object.ra_err|deg2asec|stringformat:".3f" }}″,
                                {{ object.wm_uncertainty_ns|deg2asec|stringformat:".3f" }}″)</dd>

                            <dt>Ra(h:m:s)</dt>
                            <dd>{{object.wm_ra|format_angle:"time"}}</dd>

                            <dt>Dec(d:m:s)</dt>
                            <dd>{{object.wm_decl|format_angle:"dms"}}</dd>

                            <dt>New source</dt>
                            <dd>{% if object.newsource %}Yes{% else %}No{% endif %}</dd>

                            <dt>ην</dt>
                            <dd>{% if object.extra.eta_int %}{{ object.extra.eta_int|stringformat:".3f" }}{% else %}None{% endif %}</dd>

                            <dt>Vν</dt>
                            <dd>{% if object.extra.v_int %}{{  object.extra.v_int|stringformat:".3f" }}{% else %}None{% endif %}</dd>

                            <dt>Σ<sub>RMS<sub>min</sub></sub></dt>
                            <dd>{% if object.sigma_rms_min %}{{  object.sigma_rms_min|stringformat:".3f" }}{% else %}None{% endif %}</dd>

                            <dt>Σ<sub>RMS<sub>max</sub></sub></dt>
                            <dd>{% if object.sigma_rms_max %}{{  object.sigma_rms_max|stringformat:".3f" }}{% else %}None{% endif %}</dd>

                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>Trigger source</dt>
                            <dd>{% if object.newsource %}<a href="{% url 'extractedsource' db_name object.newsource.trigger_xtrsrc %}">{{  object.newsource.trigger_xtrsrc }}</a>{% else %}No{% endif %}</dd>

                            <dt>Previous limits image</dt>
                            <dd>{% if object.newsource %}<a href="{% url 'image' db_name object.newsource.previous_limits_image.id %}">{{  object.newsource.previous_limits_image.id }}</a>{% else %}No{% endif %}</dd>

                            <dt># of datapoints</dt>
                            <dd>{{ object.datapoints }}</dd>

                            <dt>Dataset</dt>
                            <dd><a href="{% url 'dataset' db_name object.dataset.id %}">{{ object.dataset }}</a></dd>

                            <dt>Max flux</dt>
                            <dd>{{ object.lightcurve_max|stringformat:".3f" }}</dd>

                            <dt>Mean flux</dt>
                            <dd>{{ object.lightcurve_avg|stringformat:".3f" }}</dd>

                            <dt>Median flux</dt>
                            <dd>{{ object.lightcurve_median|stringformat:".3f" }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        {% if object_list %}
            <div class="row">
                <div class="col-md-3">
                    <h2>Lightcurve</h2>
                </div>
                <div class="col-md-3">
                    {% paginatorizer %}
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ object.wm_ra }}d{{ object.wm_decl }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10"><button class="btn btn-default">Simbad</button></a>
                        <a href="?format=csv"><button class="btn btn-default">CSV format</button></a>
                        <a href="?{% query_invert_bool 'thumb' %}"><button class="btn btn-default">Thumbnails</button></a>
                        {% flux_units_dropdown %}
                        <a href="{% url 'runningcatalogs' db_name %}?wm_ra_0={{ object.wm_ra|float_substract:"0.03"|scientific }}&wm_ra_1={{ object.wm_ra|float_add:"0.03"|scientific }}&wm_decl_0={{ object.wm_decl|float_substract:"0.03"|scientific }}&wm_decl_1={{ object.wm_decl|float_add:"0.03"|scientific }}&dataset={{ object.dataset_id }}">
                            <button class="btn btn-default">Possible Associations</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered table-striped responsive-utilities table-condensed ">
                    <thead>
                    {% tableheader 'xtrsrc__id' 'ID' %}
                    {% tableheader 'xtrsrc__image__taustart_ts' 'Date (UTC)' %}
                    {% tableheader 'xtrsrc__image__tau_time' 'Integration time (s)' %}
                    {% tableheader 'xtrsrc__image__band__freq_central' 'Frequency (Hz)' %}
                    {% tableheader 'xtrsrc__f_int' 'Int. flux (Jy)' %}
                    {% tableheader 'xtrsrc__f_int_err' 'Int. flux err (Jy)' %}
                    {% tableheader 'xtrsrc__f_peak' 'Peak flux (Jy)' %}
                    {% tableheader 'xtrsrc__f_peak_err' 'Peak flux err (Jy)' %}
                    {% tableheader 'xtrsrc__extract_type' 'Extract type' %}
                    {% tableheader 'xtrsrc__image' 'Image ID' %}
                    {% tableheader 'v_int' 'Vν' %}
                    {% tableheader 'eta_int' 'ην' %}
                    {% if request.GET.thumb == "1" %}
                        {% tableheader 'thumbnail' %}
                    {% endif %}
                    </thead>
                    <tbody>
                    {% for assocxtrsource in object_list %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td><a href="{% url 'extractedsource' db_name assocxtrsource.xtrsrc.id %}">{{ assocxtrsource.xtrsrc.id }}</a></td>
                            <td>{{ assocxtrsource.xtrsrc.image.taustart_ts|date:"c" }}</td>
                            <td>{{ assocxtrsource.xtrsrc.image.tau_time|scientific }}</td>
                            <td>{{ assocxtrsource.xtrsrc.image.band.freq_central|scientific }}</td>
                            <td>{{ assocxtrsource.xtrsrc.f_int|flux_unit:prefix|scientific }}</td>
                            <td>{{ assocxtrsource.xtrsrc.f_int_err|flux_unit:prefix|scientific }}</td>
                            <td>{{ assocxtrsource.xtrsrc.f_peak|flux_unit:prefix|scientific }}</td>
                            <td>{{ assocxtrsource.xtrsrc.f_peak_err|flux_unit:prefix|scientific }}</td>
                            <td>{{ assocxtrsource.xtrsrc.extract_type }}</td>
                            <td><a href="{% url 'image' db_name assocxtrsource.xtrsrc.image.id %}">{{ assocxtrsource.xtrsrc.image.id }}</a></td>
                            <td>{{ assocxtrsource.v_int|scientific }}</td>
                            <td>{{ assocxtrsource.eta_int|scientific }}</td>
                            {% if request.GET.thumb == "1" %}
                                <td><img src="{% url 'extractedsource_plot' db_name assocxtrsource.xtrsrc.id %}?size=1"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 text-center">
                {% paginatorizer %}
            </div>


            <script>
                imgs = {
                {% for assocxtrsource in object_list %}{{assocxtrsource.xtrsrc.id}}: '{% url 'extractedsource_plot' db_name assocxtrsource.xtrsrc.id %}?size=1'{% if not forloop.last %},{% endif %}
                {% endfor %}
                };

                function showThumbnails() {
                    for (key in imgs) {
                        var elem = document.createElement("img");
                        elem.src = imgs[key];
                        document.getElementById("thumbnail" + key).appendChild(elem);
                    }
                }
            </script>
        {% endif %}

    </div>
    <script>
        // get data from django template
        var lightcurve = [
                {% for assocxtrsource in paginator.object_list %}{
                    "url": '{%  url 'extractedsource' db_name assocxtrsource.xtrsrc.id %}',
                    "id": '{{ assocxtrsource.xtrsrc.id }}',
                    "band": '{{ assocxtrsource.xtrsrc.image.band }}',
                    "taustart_ts": {{ assocxtrsource.xtrsrc.image.taustart_ts|datetime2miliseconds }},
                    "f_int": {{ assocxtrsource.xtrsrc.f_int|scientific }},
                    "f_int_err": {{ assocxtrsource.xtrsrc.f_int_err|scientific }},
                    "tau_time": {{ assocxtrsource.xtrsrc.image.tau_time }},
                    "extract_type": {{ assocxtrsource.xtrsrc.extract_type }},
                    }{% if not forloop.last %}, {% endif %}
                {% endfor %}
        ];

        var title = 'Lightcurve for Running Catalog #{{ object.id }}';
        var subtitle = '';
    </script>

    <script src="{{ STATIC_URL }}lightcurve.js"></script>

{% endblock content %}

