
{% extends "base.html" %}

{% load units %}
{% load tableheader %}
{% load paginator %}
{% load flux_units_dropdown %}
{% load addcss %}


{% block title %}Running Catalogs · Banana{% endblock title %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
    {% if dataset %}
        <li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
    {% endif %}
{% endblock %}

{% block navdeep %}
    <li class="active"><a href="{% url 'runningcatalogs' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Running Catalogs</a></li>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <form action="" method="get" role="form">
            {% if dataset %}
                <input type="hidden" name="dataset" value="{{ dataset }}">
            {% endif %}
            <div class="well">
                <div class="row">
                    <legend>Transient parameters</legend>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_wm_ra" class="col-xs-1 control-label">RA(°):</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_wm_ra_0" name="wm_ra_0" type="text" {% if filter.form.wm_ra.value.0 %}value="{{ filter.form.wm_ra.value.0 }}"{% endif %} placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_wm_ra_1" name="wm_ra_1" type="text" {% if filter.form.wm_ra.value.1 %}value="{{ filter.form.wm_ra.value.1 }}"{% endif %} placeholder="max"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_wm_decl_0" class="col-xs-1 control-label">Dec(°):</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control " id="id_wm_decl_0" name="wm_decl_0" type="text" {% if filter.form.wm_decl.value.0 %}value="{{ filter.form.wm_decl.value.0 }}"{% endif %}  placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_wm_decl_1" name="wm_decl_1" type="text" {% if filter.form.wm_decl.value.1 %}value="{{ filter.form.wm_decl.value.1 }}"{% endif %}  placeholder="max"/>
                            </div>
                        </div>
                    </div>

                </div>
               <div class="row">
                   <div class="form-group pull-right ">
                        <div class="checkbox-inline col-md-6">
                            <label class="control-label mini" for="id_newsource">
                                {{ filter.form.newsource }} New sources only
                            </label>
                        </div>
                       <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-success"/>
                        </div>
                       <div class="col-md-3"></div>
                   </div>
               </div>

            </div>
        </form>



        <div class="row">
            {% if object_list %}
                <div class="col-md-3 text-center">
                </div>
                <div class="col-md-6 text-center">
                    {% paginatorizer %}
                </div>
                <div class="col-md-3 text-right">
                    {% flux_units_dropdown %}
                    <a href="?format=csv&{{ request.GET.urlencode }}"><button class="btn btn-default">CSV format</button></a>
                </div>

                <div class="col-md-12">
                    <table class="table table-bordered table-striped responsive-utilities table-condensed " >
                        <thead>
                        <tr>
                            {% tableheader 'id' '#' %}
                            {% tableheader 'wm_ra' 'RA (°)' %}
                            {% tableheader 'wm_decl' 'Dec (°)' %}
                            <th>RA Error (″)</th>
                            <th>Dec Error (″)</th>
                            {% tableheader 'wm_ra' 'RA (hh:mm:ss.s)' %}
                            {% tableheader 'wm_decl' 'Dec (dd:mm:ss.s)' %}
                            {% tableheader 'datapoints' '# points' %}
                            {% tableheader 'newsource' 'New source' %}
                        </tr>
                        </thead>


                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td><a href="{% url 'runningcatalog' db_name object.id %}">{{ object.id }}</a></td>
                                <td>{{ object.wm_ra|stringformat:".3f" }}</td>
                                <td>{{ object.wm_decl|stringformat:".3f" }}</td>
                                <td>{{ object.ra_err|deg2asec|stringformat:".3f" }}</td>
                                <td>{{ object.wm_uncertainty_ns|deg2asec|stringformat:".3f" }}</td>
                                <td>{{object.wm_ra|format_angle:"time"}}</td>
                                <td>{{object.wm_decl|format_angle:"dms"}}</td>
                                <td>{{ object.datapoints }}</td>
                                {% if object.newsource.id %}
                                <td><a href="{% url 'newsource' db_name object.newsource.id %}">{{ object.newsource.id }}</a></td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 text-center">
                    {% paginatorizer %}
                </div>

            {% else %}
                <h1 class="text-center">No Running Catalogs</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}
