
{% extends "base.html" %}

{% load units %}
{% load tableheader %}
{% load paginator %}

{% block title %}Running Catalogs · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
{% if dataset %}
<li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
{% endif %}
{% endblock %}

{% block navdeep %}
<li class="active"><a href="{% url 'runningcatalogs' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Running Catalogs</a></li>
{% endblock %}


{% block content %}

{% if runningcatalog_list %}
<div class="row-fluid">
    <div class="span12 text-center">
        <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn" type="button">CSV format</button></a>
    </div>

    <div class="span12 text-center">

        {% paginatorizer %}
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                {% tableheader 'id' 'Run. cat.' %}
                {% tableheader 'wm_ra' 'Ra(″)' %}
                {% tableheader 'wm_decl' 'Decl(″)' %}
                <th>Ra Error(&deg;)</th>
                {% tableheader 'wm_uncertainty_ns' 'wm_uncertainty_ns(&deg;)' %}
                {% tableheader 'wm_ra' 'Ra(h:m:s)' %}
                {% tableheader 'wm_decl' 'Decl(d:m:s)' %}
                {% tableheader 'datapoints' '# datapoints' %}
            </tr>
            </thead>

            <tbody>
            {% for runningcatalog in runningcatalog_list %}
            <tr>
                <td><a href="{% url 'runningcatalog' db_name runningcatalog.id %}">{{ runningcatalog.id }}</a></td>
                <td>{{ runningcatalog.wm_ra|deg2asec|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.wm_decl|deg2asec|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.ra_err|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.wm_uncertainty_ns|stringformat:".3f" }}</td>
                <td> {{runningcatalog.wm_ra|format_angle:"time"}}</td>
                <td> {{runningcatalog.wm_decl|format_angle:"dms"}}</td>
                <td>{{ runningcatalog.datapoints }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>


</div>
{% else %}
<p>No Running Catalogs.</p>
{% endif %}


{% endblock content %}
