
{% extends "base.html" %}

{% load units %}
{% load tableheader %}
{% load paginator %}

{% block title %}Running Catalogs · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
{% if dataset %}
<li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
{% endif %}
{% endblock %}

{% block navdeep %}
<li class="active"><a href="{% url 'runningcatalogs' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Running Catalogs</a></li>
{% endblock %}


{% block content %}

<div class="row-fluid">
    <div class="span8 text-center">
        <form class="form-inline" action="" method="GET">
          <label class="control-label" for="inputRa">Ra (°)</label>
          <input type="text" name="ra" id="inputRa" class="input-mini" value="{{ area.0 }}" placeholder="Ra (°)">
          <label class="control-label" for="inputDecl">Decl (°)</label>
          <input type="text" name="decl" id="inputDecl" class="input-mini" value="{{ area.1 }}" placeholder="Decl (°)">
          <label class="control-label" for="inputDistance">Distance (°)</label>
          <input type="text" name="distance" id="inputDistance" class="input-small" value="{{ area.2 }}" placeholder="Distance (°)">
          <button type="submit" class="btn">Filter</button>
          <a href="{% url 'runningcatalogs' db_name %}" class="btn">Reset</a>
        </form>
    </div>

    <div class="span4 text-center">
        <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn" type="button">CSV format</button></a>
    </div>

    {% if runningcatalog_list %}

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " >
            <thead>
            <tr>
                {% tableheader 'id' 'Run. cat.' %}
                {% if area %}
                {% tableheader 'distance' 'Distance (°)' %}
                {% endif %}
                {% tableheader 'wm_ra' 'Ra(°)' %}
                {% tableheader 'wm_decl' 'Dec(°)' %}
                <th>Ra Error(″)</th>
                <th>Decl Error(″)</th>
                {% tableheader 'wm_ra' 'Ra(h:m:s)' %}
                {% tableheader 'wm_decl' 'Dec(d:m:s)' %}
                {% tableheader 'datapoints' '# datapoints' %}
                <th>Max flux</th>
                <th>Mean flux</th>
                <th>Median flux</th>
            </tr>
            </thead>

            <tbody>
            {% for runningcatalog in runningcatalog_list %}
            <tr>
                <td><a href="{% url 'runningcatalog' db_name runningcatalog.id %}">{{ runningcatalog.id }}</a></td>
                {% if area %}
                <td>{{ runningcatalog.distance|stringformat:".3f" }}</td>
                {% endif %}
                <td>{{ runningcatalog.wm_ra|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.wm_decl|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.ra_err|deg2asec|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.wm_uncertainty_ns|deg2asec|stringformat:".3f" }}</td>
                <td> {{runningcatalog.wm_ra|format_angle:"time"}}</td>
                <td> {{runningcatalog.wm_decl|format_angle:"dms"}}</td>
                <td>{{ runningcatalog.datapoints }}</td>
                <td>{{ runningcatalog.lightcurve_max|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.lightcurve_mean|stringformat:".3f" }}</td>
                <td>{{ runningcatalog.lightcurve_median|stringformat:".3f" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>

    {% else %}
    <p>No Running Catalogs.</p>
    {% endif %}
</div>



{% endblock content %}
