
{% extends "base.html" %}

{% load units %}
{% load paginator %}

{% block title %}Transients · Banana{% endblock title %}


{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
{% if dataset %}
<li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
{% endif %}
{% endblock %}

{% block navdeep %}
<li class="active"><a href="{% url 'transients' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Transients</a></li>
{% endblock %}


{% block content %}

{% if transient_list %}
<div class="row">
    <div class="span12 text-center">
        <a href="?format=csv{% if dataset %}&dataset={{ dataset }}{% endif %}"><button class="btn" type="button">CSV format</button></a>
    </div>

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>

    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                <th><a href="?page={{ transients.number }}&order={% if order == 'id' %}-{% endif %}id{% if dataset %}&dataset={{ dataset }}{% endif %}">Transient # {% if order == 'id' %}<i class="icon-arrow-down">{% elif order == '-id' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat__wm_ra' %}-{% endif %}runcat__wm_ra{% if dataset %}&dataset={{ dataset }}{% endif %}">Position (°) {% if order == 'runcat__wm_ra' %}<i class="icon-arrow-down">{% elif order == '-runcat__wm_ra' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat__wm_ra' %}-{% endif %}runcat__wm_ra{% if dataset %}&dataset={{ dataset }}{% endif %}">Position (h:m:s,d:m:s) {% if order == 'runcat__wm_ra' %}<i class="icon-arrow-down">{% elif order == '-runcat__wm_ra' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 't_start' %}-{% endif %}t_start{% if dataset %}&dataset={{ dataset }}{% endif %}">Start date {% if order == 't_start' %}<i class="icon-arrow-down">{% elif order == '-t_start' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'siglevel' %}-{% endif %}siglevel{% if dataset %}&dataset={{ dataset }}{% endif %}">Significance level {% if order == 'siglevel' %}<i class="icon-arrow-down">{% elif order == '-siglevel' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'band' %}-{% endif %}band{% if dataset %}&dataset={{ dataset }}{% endif %}">Band {% if order == 'band' %}<i class="icon-arrow-down">{% elif order == '-band' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'eta_int' %}-{% endif %}eta_int{% if dataset %}&dataset={{ dataset }}{% endif %}">ην {% if order == 'eta_int' %}<i class="icon-arrow-down">{% elif order == '-eta_int' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'v_int' %}-{% endif %}v_int{% if dataset %}&dataset={{ dataset }}{% endif %}">Vν{% if order == 'v_int' %}<i class="icon-arrow-down">{% elif order == '-v_int' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat__datapoints' %}-{% endif %}runcat__datapoints{% if dataset %}&dataset={{ dataset }}{% endif %}"># of datapoints {% if order == 'runcat__datapoints' %}<i class="icon-arrow-down">{% elif order == '-runcat__datapoints' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
                <th><a href="?page={{ transients.number }}&order={% if order == 'runcat' %}-{% endif %}runcat{% if dataset %}&dataset={{ dataset }}{% endif %}">Running cat. # {% if order == 'runcat' %}<i class="icon-arrow-down">{% elif order == '-runcat' %}<i class="icon-arrow-up"></i>{% endif %}</a></th>
            </tr>
            </thead>
            <tbody>
            {% for transient in transient_list %}
            <tr>
                <td><a href="{% url 'transient' db_name transient.id %}">{{ transient.id }}</a></td>
                <td>{{ transient.runcat.wm_ra|stringformat:".3f" }}, {{ transient.runcat.wm_decl|stringformat:".3f" }}</td>
                <td>{{ transient.runcat.wm_ra|format_angle:"time"}}, {{ transient.runcat.wm_decl|format_angle:"dms" }}</td>
                <td>{{ transient.t_start|date:"c" }}</td>
                <td>{{ transient.siglevel|stringformat:".3f" }}</td>
                <td>{{ transient.band }}</td>
                <td>{{ transient.eta_int|stringformat:".2f" }}</td>
                <td>{{ transient.v_int|stringformat:".4f" }}</td>
                <td>{{ transient.runcat.datapoints }}</td>
                <td>{{ transient.runcat }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span12 text-center">
        {% paginatorizer %}
    </div>

</div>
{% else %}
<p>No Transients.</p>
{% endif %}


{% endblock content %}
