{% extends "base.html" %}

{% load units %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name transient.runcat.dataset_id %}">Dataset {{ transient.runcat.dataset_id }}</a></li>{% endblock %}
{% block navdeep %}<li><a href="{% url 'transients' db_name %}?dataset={{ transient.runcat.dataset_id }}">Transients</a></li>{% endblock %}
{% block navdeper %}<li class="active"><a href="{% url 'transient' db_name transient.id %}">Transient {{ transient.id }}</a></li>{% endblock %}

{% block title %}Transient {{ transient.id }} · Banana{% endblock title %}

{% block content %}

<!-- required for error bars -->
{% block morehead %}<script src="{{ STATIC_URL }}highcharts-more.js"></script>{% endblock %}

<div class="row">
    <div class="span5">
        <h2>Transient #{{ transient.id }}</h2>
        <dl class="dl-horizontal">
            <dt>Position</dt>
            <dd>({{ transient.runcat.wm_ra|stringformat:".3f" }}&deg;,
                {{ transient.runcat.wm_decl|stringformat:".3f" }}&deg;) &pm;
                ({{ transient.runcatwm_ra_err|stringformat:".3f" }}&Prime;,
                {{ transientruncat.wm_decl_err|stringformat:".3f" }}&Prime;)</dd>
            <dt>Frequency band</dt>
            <dd>{{ transient.band }}</dd>
            <dt>Effective frequency</dt>
            <dd>{{ transient.freq_eff }} ?</dd>
            <dt>Significance level</dt>
            <dd>{{ transient.siglevel }}</dd>
            <dt>&eta;<sub>&nu;</sub></dt>
            <dd>{{ transient.eta_int|scientific }}</dd>
            <dt>V<sub>&nu;</sub></dt>
            <dd>{{ transient.v_int|scientific }}</dd>
            <dt>Start date</dt>
            <dd>{% if transient.t_start %}{{ transient.t_start|date:"c" }}{% else %} Unknown {% endif %}</dd>
            <dt># of datapoints</dt>
            <dd>{{ transient.runcat.datapoints }}</dd>
            <dt>Running cat #</dt>
            <dd><a href="{% url 'runningcatalog' db_name transient.runcat %}">{{ transient.runcat }}</a></dd>
            <dt>Dataset</dt>
            <dd><a href="{% url 'dataset' db_name transient.runcat.dataset_id %}">{{ transient.runcat.dataset.id }}</a></dd>
        </dl>
        <div class="text-center">
          <a href="http://simbad.u-strasbg.fr/simbad/sim-coo?CooEpoch=2000&Coord={{ transient.runcat.wm_ra }}d{{ transient.runcat.wm_decl }}d&Radius.unit=arcmin&CooEqui=2000&CooFrame=FK5&Radius=10" class="btn">Simbad Cone Search</a>
        </div>
    </div>

    <div class="span7">
        <div id='lightcurve'></div>
    </div>

{% if lightcurve %}
<h3>Lightcurve</h3>

<div class="row">
    <div class="span12">
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
        <thead>
            <th>ID</th>
            <th>Date (UTC)</th>
            <th>Integration time (s)</th>
            <th>Frequency (Hz)</th>
            <th>Flux (Jy)</th>
            <th>Flux error (Jy)</th>
            <th>Extract type</th>
            <th>Thumbnail</th>
        </thead>
        <tbody>
            {% for point in lightcurve %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url 'extractedsource' db_name point.xtrsrc.id %}">{{ point.xtrsrc.id }}</a></td>
                <td>{{ point.xtrsrc.image.taustart_ts|date:"c" }}</td>
                <td>{{ point.xtrsrc.image.tau_time|scientific }}</td>
                <td>{{ point.xtrsrc.image.band.freq_central|scientific }}</td>
                <td>{{ point.xtrsrc.f_int|scientific }}</td>
                <td>{{ point.xtrsrc.f_int_err|scientific }}</td>
                <td>{{ point.xtrsrc.extract_type }}</td>
                <td><!-- <img src="{% url 'extractedsource_plot' db_name point.xtrsrc.id %}?size=1">--></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


<script>
    // get data from django template
    var lightcurve = [
        {% for assocxtrsource in lightcurve %}{
            "band": '{{ assocxtrsource.xtrsrc.image.band }}',
            "taustart_ts": {{ assocxtrsource.xtrsrc.image.taustart_ts|datetime2miliseconds }},
            "f_int": {{ assocxtrsource.xtrsrc.f_int }},
            "f_int_err": {{ assocxtrsource.xtrsrc.f_int_err }},
            "tau_time": {{ assocxtrsource.xtrsrc.image.tau_time }},
            "extract_type": {{ assocxtrsource.xtrsrc.extract_type }},
        }{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];
    var title = 'Lightcurve for transient #{{transient.id}}';
    var subtitle = 'start date {% if transient.t_start %}{{ transient.t_start|date:"c" }}{% else %} Unknown {% endif %}';

    // group per band
    var lightcurve_per_band = {};
    var error_per_band = {};
    var plot_bands_per_series = {};
    var plot_bands = [];
    var symbols = {0: 'square', 1: 'triangle-down', 2: 'diamond'};
    lightcurve.forEach(function(entry) {
        var band = entry["band"];
        var data = {
            x: entry['taustart_ts'],
            y: entry['f_int'],
            f_int: entry['f_int'],
            extract_type: entry['extract_type'],
            f_int_err: entry['f_int_err'],
            tau_time: entry['tau_time'],
            marker: {
                symbol: symbols[entry['extract_type']]
            }
        };

        var error_data = {
            x: entry['taustart_ts'],
            y: entry['f_int'],
            extract_type: entry['extract_type'],
            f_int: entry['f_int'],
            f_int_err: entry['f_int_err'],
            low: entry['f_int'] - entry['f_int_err'],
            high: entry['f_int'] + entry['f_int_err'],
            tau_time: entry['tau_time'],
            marker: {
                lineWidth: 1000
            }

        };

        if (band in lightcurve_per_band) {
            lightcurve_per_band[band].push(data);
            error_per_band[band].push(error_data);
        } else {
            lightcurve_per_band[band] = [data];
            error_per_band[band] = [error_data];
        }

        // construc the plot bands. We want only unique plot bands
        from = entry['taustart_ts'],
        to = entry['taustart_ts'] + entry['tau_time'] * 1000
        if(!([from, to] in plot_bands_per_series)) {
            plot_bands_per_series[[from, to]] = true;
            plot_bands.push(
                {
                    from: entry['taustart_ts'],
                    to: entry['taustart_ts'] + entry['tau_time'] * 1000,
                    color: 'rgba(68, 170, 213, .1)'
                }
            );
        }
    });

    // convert to highchart series
    var series = [];
    for(key in lightcurve_per_band) {
        data = lightcurve_per_band[key];
        error_data = error_per_band[key];

        series.push(
                {
                    name: key,
                    data: lightcurve_per_band[key],
                    marker: {
                        symbol: 'square'
                    }
                }
        );

        // to group datapoint and error bar together we need to add them sequensial
        series.push(
           {
               name: key + ' Error',
               type: 'errorbar',
               color: '#999',
               data: error_data,
               states: {
                   marker: {
                       hover: {
                           lineWidth: 100
                       }

                   }
               }
           }
        );
    }

    $(function () {
        $('#lightcurve').highcharts({
            chart: {
                type: 'scatter',
                zoomType: 'xy'
            },

            tooltip: {
              formatter: function () {
                return '<b></B>Time: </b>' + Highcharts.dateFormat('%Y %b %e %H:%M', this.point.x) +
                       '<br><b>flux (jY): </b>' + this.point.f_int +
                       '<br><b>extract_type: </b>' + this.point.extract_type +
                        '<br><b>Integrated Flux Error: </b>' + this.point.f_int_err +
                        '<br><b>Integration Time: </b>' + this.point.tau_time;
              }
            },

            title: {
                text: title
            },

            subtitle: {
                text: subtitle
            },

            xAxis: {
                type: 'datetime',
                labels: {
                    formatter: function() {
                        return Highcharts.dateFormat('%b %e %H:%M', this.value);
                    }
                },

                plotBands: plot_bands

            },

            yAxis: {
                title: {
                    text: 'Flux (jY)'
                }
            },

            series: series,

            plotOptions: {
                areaspline: {
                    fillOpacity: 0.5
                }
            }
        });
    });
</script>


{% endblock content %}


