
{% extends "base.html" %}

{% load units %}
{% load tableheader %}
{% load paginator %}
{% load flux_units_dropdown %}
{% load addcss %}


{% block title %}Variablity Metrics · Banana{% endblock title %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}

{% block navdataset %}
    {% if dataset %}
        <li><a href="{% url 'dataset' db_name dataset %}">Dataset {{ dataset }}</a></li>
    {% endif %}
{% endblock %}

{% block navdeep %}
    <li class="active"><a href="{% url 'varmetrics' db_name %}{% if dataset %}?dataset={{ dataset }}{% endif %}">Variablity Metrics</a></li>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <form action="" method="get" role="form">
            {% if dataset %}
                <input type="hidden" name="dataset" value="{{ dataset }}">
            {% endif %}
            <div class="well">
                <div class="row">
                    <legend>Transient parameters</legend>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_wm_ra" class="col-xs-1 control-label">RA(°):</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_wm_ra_0" name="runcat__wm_ra_0" type="text" {% if filter.form.runcat__wm_ra.value.0 %}value="{{ filter.form.runcat__wm_ra.value.0 }}"{% endif %} placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_wm_ra_1" name="runcat__wm_ra_1" type="text" {% if filter.form.runcat__wm_ra.value.1 %}value="{{ filter.form.runcat__wm_ra.value.1 }}"{% endif %} placeholder="max"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_v_int_0" class="col-xs-1 control-label">V<sub>ν</sub>:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_v_int_0" name="v_int_0" type="text" {% if filter.form.v_int.value.0 %}value="{{ filter.form.v_int.value.0 }}"{% endif %} placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_v_int_1" name="v_int_1" type="text" {% if filter.form.v_int.value.1 %}value="{{ filter.form.v_int.value.1 }}"{% endif %} placeholder="max"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_sigma_rms_min_0" class="col-xs-1 control-label">Σ<sub>RMS<sub>min</sub></sub>:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_sigma_rms_min_0" name="sigma_rms_min_0" type="text" {% if filter.form.sigma_rms_min.value.0 %}value="{{ filter.form.sigma_rms_min.value.0 }}"{% endif %}  placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_sigma_rms_min_1" name="sigma_rms_min_1" type="text" {% if filter.form.sigma_rms_min.value.1 %}value="{{ filter.form.sigma_rms_min.value.1 }}"{% endif %}  placeholder="max"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_wm_decl_0" class="col-xs-1 control-label">Dec(°):</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control " id="id_wm_decl_0" name="runcat__wm_decl_0" type="text" {% if filter.form.runcat__wm_decl.value.0 %}value="{{ filter.form.runcat__wm_decl.value.0 }}"{% endif %}  placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_wm_decl_1" name="runcat__wm_decl_1" type="text" {% if filter.form.runcat__wm_decl.value.1 %}value="{{ filter.form.runcat__wm_decl.value.1 }}"{% endif %}  placeholder="max"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_eta_int_0" class="col-xs-1 control-label">η<sub>ν</sub>:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_eta_int_0" name="eta_int_0" type="text" {% if filter.form.eta_int.value.0 %}value="{{ filter.form.eta_int.value.0 }}"{% endif %} placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_eta_int_1" name="eta_int_1" type="text" {% if filter.form.eta_int.value.1 %}value="{{ filter.form.eta_int.value.1 }}"{% endif %} placeholder="max"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="id_sigma_rms_max_0" class="col-xs-1 control-label">Σ<sub>RMS<sub>max</sub></sub>:</label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_sigma_rms_max_0" name="sigma_rms_max_0" type="text" {% if filter.form.sigma_rms_max.value.0 %}value="{{ filter.form.sigma_rms_max.value.0 }}"{% endif %} placeholder="min"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" id="id_sigma_rms_max_1" name="sigma_rms_max_1" type="text" {% if filter.form.sigma_rms_max.value.1 %}value="{{ filter.form.sigma_rms_max.value.1 }}"{% endif %} placeholder="max"/>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="row">
                   <div class="form-group pull-right ">
                        <div class="checkbox-inline col-md-6">
                            <label class="control-label mini" for="id_newsource">
                                {{ filter.form.newsource }} New sources only
                            </label>
                        </div>
                       <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-success"/>
                        </div>
                       <div class="col-md-3"></div>
                   </div>
               </div>

            </div>
        </form>



        <div class="row">
            {% if object_list %}
                <div class="col-md-3 text-center">
                </div>
                <div class="col-md-6 text-center">
                    {% paginatorizer %}
                </div>
                <div class="col-md-3 text-right">
                    {% flux_units_dropdown %}
                    <a href="{%  url 'runningcatalogs' db_name %}"><button class="btn btn-default">Normal runningcatalog</button></a>
                    <a href="?format=csv&{{ request.GET.urlencode }}"><button class="btn btn-default">CSV format</button></a>
                </div>

                <div class="col-md-12">
                    <table class="table table-bordered table-striped responsive-utilities table-condensed " >
                        <thead>
                        <tr>
                            {% tableheader 'runcat__id' 'runcat' %}
                            {% tableheader 'runcat__wm_ra' 'RA (°)' %}
                            {% tableheader 'runcat__wm_decl' 'Dec (°)' %}
                            <th>RA Error (″)</th>
                            <th>Dec Error (″)</th>
                            {% tableheader 'runcat__wm_ra' 'RA (hh:mm:ss.s)' %}
                            {% tableheader 'runcat__wm_decl' 'Dec (dd:mm:ss.s)' %}
                            {% tableheader 'runcat__datapoints' '# points' %}
                            {% tableheader 'runcat__newsource' 'New source' %}
                            {% tableheader 'sigma_rms_min' 'Σ<sub>RMS<sub>min</sub></sub>' %}
                            {% tableheader 'sigma_rms_max' 'Σ<sub>RMS<sub>max</sub></sub>' %}
                            {% tableheader 'lightcurve_avg' 'flux<sub>mean</sub> (Jy)' %}
                            {% tableheader 'lightcurve_max' 'flux<sub>max</sub> (Jy)' %}
                            {% tableheader 'lightcurve_median' 'flux<sub>median</sub> (Jy)' %}
                            {% tableheader 'v_int' 'V<sub>ν</sub>' %}
                            {% tableheader 'eta_int' 'η<sub>ν</sub>' %}
                        </tr>
                        </thead>


                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td><a href="{% url 'runningcatalog' db_name object.runcat.id %}">{{ object.runcat.id }}</a></td>
                                <td>{{ object.runcat.wm_ra|stringformat:".3f" }}</td>
                                <td>{{ object.runcat.wm_decl|stringformat:".3f" }}</td>
                                <td>{{ object.runcat.ra_err|deg2asec|stringformat:".3f" }}</td>
                                <td>{{ object.runcat.wm_uncertainty_ns|deg2asec|stringformat:".3f" }}</td>
                                <td>{{object.runcat.wm_ra|format_angle:"time"}}</td>
                                <td>{{object.runcat.wm_decl|format_angle:"dms"}}</td>
                                <td>{{ object.runcat.datapoints }}</td>
                                {% if object.runcat.newsource.id %}
                                <td><a href="{% url 'newsource' db_name object.runcat.newsource.id %}">{{ object.runcat.newsource.id }}</a></td>
                                {% else %}
                                    <td> - </td>
                                {% endif %}
                                <td>{{ object.sigma_rms_min|scientific }}</td>
                                <td>{{ object.sigma_rms_max|scientific }}</td>
                                <td>{{ object.lightcurve_avg|flux_unit:flux_prefix|scientific }}</td>
                                <td>{{ object.lightcurve_max|flux_unit:flux_prefix|scientific }}</td>
                                <td>{{ object.lightcurve_median|flux_unit:flux_prefix|scientific }}</td>
                                <td>{{ object.v_int|stringformat:".3f" }}</td>
                                <td>{{ object.eta_int|stringformat:".3f" }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 text-center">
                    {% paginatorizer %}
                </div>

            {% else %}
                <h1 class="text-center">No Running Catalogs</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}
