{% load query_replace %}
<ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
        <li><a href="?{% query_replace 'page' page_obj.previous_page_number%}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a>&laquo;</a></li>
        {% endif %}

        <li{% if page_obj.number == 1 %} class="active"{% endif %}><a href="?{% query_replace 'page' 1 %}">1</a></li>

        {% if show_begin_dots %}
            <li class="disabled"><a>...</a></li>
        {% endif %}

        {% for page_num in page_numbers %}
        <li{% if page_obj.number == page_num %} class="active"{% endif %}>
            <a href="?{% query_replace 'page' page_num %}">{{ page_num }}</a>
        </li>
        {% endfor %}

        {% if show_end_dots %}
            <li class="disabled"><a>...</a></li>
        {% endif %}

        {% if show_end %}
        <li{% if page_obj.number == page_obj.paginator.num_pages %} class="active"{% endif %}>
            <a href="?{% query_replace 'page' page_obj.paginator.num_pages %}">{{page_obj.paginator.num_pages }}</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li><a href="?{% query_replace 'page' page_obj.next_page_number  %}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a>&raquo;</a></li>
        {% endif %}
</ul>
