{% load query_replace %}

{% comment %}
Encloses column-headers with re-ordering hyperlinks (via http query strings)
{% endcomment %}

<th>
    {% with "-"|safe|add:field as antifield %}
        {% if order == antifield %}
             <a href="?{% query_replace 'order' field %}">
        {% else %}
            <a href="?{% query_replace 'order' '-'|safe|add:field %}">
        {% endif %}
        {{ description }}
        {% if order == field %}
            <i class="icon-arrow-down"></i>
        {% elif order == antifield %}
            <i class="icon-arrow-up"></i>
        {% endif %}
    {% endwith %}
    </a>
</th>