td a {
    /* For hyperlinks in tables, make entire cell clickable */
    display: block;
    width: 100%;
    height: 100%;
}

.control-label.mini {
    width: 100px;
}

.controls.mini {
    margin-left: 110px;
}


.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}