<!DOCTYPE html>
<html>
<head>
    <title>Banana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-rowlink.min.css" rel="stylesheet" media="screen">

    <script src="{{ STATIC_URL }}/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap-rowlink.min.js"></script>
    <script src="{{ STATIC_URL }}/highcharts.js"></script>

</head>
<body>
<h1><a href="{% url 'databases' %}">Banana</a></h1>
{% block content %}
Put something here
{% endblock content %}

</body>
</html>
