<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Banana{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap-rowlink.min.css" rel="stylesheet" media="screen">

    <script src="{{ STATIC_URL }}/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap-rowlink.min.js"></script>
    <script src="{{ STATIC_URL }}/highcharts.js"></script>

</head>
<body>

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand">Banana</a>
        <ul class="nav">
            {% block navmain %}<li><a href="{% url 'databases' %}">Databases</a></li>{% endblock navmain %}
            {% block navdatabase %}{% endblock navdatabase %}
            {% block navdataset %}{% endblock navdataset %}
            {% block navtransients %}{% endblock %}
            {% block navtransient %}{% endblock %}
            {% block navimages %}{% endblock %}
            {% block navimage %}{% endblock %}
        </ul>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message.tags }}</strong> {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% block content %}
Put something here
{% endblock content %}

</body>
</html>
