{% extends "base.html" %}

{% block title %}Image {{ image.id }} · Banana{% endblock title %}

{% block navdatabase %}<li><a href="{% url 'datasets' db_name %}">Database {{ db_name }}</a></li>{% endblock navdatabase %}
{% block navdataset %}<li><a href="{% url 'dataset' db_name image.dataset_id %}">Dataset {{ image.dataset_id }}</a></li>{% endblock %}
{% block navimages %}<li><a href="{% url 'images' db_name %}?dataset={{ image.dataset_id }}">Images</a></li>{% endblock %}
{% block navimage %}<li class="active"><a href="{% url 'image' db_name image.id %}">Image {{ image.id }}</a></li>{% endblock %}


{% block content %}

<div class="row">
    <div class="span6">
        <dl class="dl-horizontal">
            <dt>Image ID</dt>
            <dd>{{ image.id }}</dd>

            <dt>Dataset</dt>
            <dd>{{ image.dataset }}</dd>

            <dt>Centre</dt>
            <dd>{{ image.skyrgn.centre_ra|floatformat:3 }}, {{ image.skyrgn.centre_decl|floatformat:3 }}</dd>

            <dt>start date (UT)</dt>
            <dd>{{ image.taustart_ts }}</dd>

            <dt>Integration time</dt>
            <dd>{{ image.tau_time|floatformat:3 }}</dd>

            <dt>Frequency <small>Hz</small></dt>
            <dd>{{ image.freq_eff|floatformat:3  }}</dd>

            <dt>Bandwidth <small>Hz</small></dt>
            <dd>{{ image.freq_bw|floatformat:3  }}</dd>

            <dt>Rejections</dt>
            <dd>{{ image.rejections.all|yesno }} </dd>

            <dt>Number of sources</dt>
            <dd>{{ image.num_extractedsources }}</dd>

            <dt>Filename</dt>
            <dd>{{ image.filename }}</dd>

            <dt>Stokes</dt>
            <dd>{{ image.stokes }}</dd>

            <dt>Tau</dt>
            <dd>{{ image.tau }}</dd>

            <dt>Band</dt>
            <dd>{{ image.band }}</dd>

            <dt>rb_smaj</dt>
            <dd>{{ image.rb_smaj }}</dd>

            <dt>rb_smin</dt>
            <dd>{{ image.rb_smin }}</dd>

            <dt>rb_pa</dt>
            <dd>{{ image.rb_pa }}</dd>

            <dt>Delta X</dt>
            <dd>{{ image.deltax }}</dd>

            <dt>Delta Y</dt>
            <dd>{{ image.deltay }}</dd>

            <dt>fwhm_arcsec</dt>
            <dd>{{ image.fwhm_arcsec }}</dd>

            <dt>fov_degrees</dt>
            <dd>{{ image.fov_degrees }}</dd>

            {% comment %}
            <dt>URL</dt>
            <dd>{{ image.url }}</dd>
            {% endcomment %}

            <dt>Node</dt>
            <dd>{{ image.node }}</dd>

            <dt>Nodes</dt>
            <dd>{{ image.nodes }}</dd>
        </dl>
    </div>

    <div class="span6">
        <img src="{% url 'nsources_plot' db_name image.id %}">
    </div>

</div>


<div class="row">
    <div class="span12">
        <h2>List of extracted sources in this image</h2>
        {% if image.extractedsources.all %}
        <table class="table table-bordered table-striped responsive-utilities table-condensed " data-provides="rowlink">
            <thead>
            <tr>
                <th>Source ID</th>
                <th>R.A. (°)</th>
                <th>Decl (°)</th>
                <th>R.A. Error (as)</th>
                <th>Decl Error (as)</th>
                <th>Peak flux (mJy)</th>
                <th>Peak flux error (mJy)</th>
                <th>Integrated flux (mJy)</th>
                <th>Integrated flux error (mJy)</th>

                {% comment %}
                <th>zone</th>
                <th>decl_fit_err</th>
                <th>ra_sys_err</th>
                <th>decl_sys_err</th>
                <th>x</th>
                <th>y</th>
                <th>z</th>
                <th>racosdecl</th>
                <th>margin</th>
                <th>S/N</th>
                <th>semimajor</th>
                <th>semiminor</th>
                <th>pa</th>
                <th>extract_type</th>
                <th>node</th>
                <th>nodes</th>
                {% endcomment %}


            </tr>
            </thead>
            <tbody>
            {% for source in image.extractedsources.all %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.ra|floatformat:3 }}</td>
                <td>{{ source.decl|floatformat:3 }}</td>
                <td>{{ source.ra_err|floatformat:3 }}</td>
                <td>{{ source.decl_err|floatformat:3 }}</td>
                <td>{{ source.f_peak|floatformat:3 }}</td>
                <td>{{ source.f_peak_err|floatformat:3 }}</td>
                <td>{{ source.f_int|floatformat:3 }}</td>
                <td>{{ source.f_int_err|floatformat:3 }}</td>

                {% comment %}
                <td>{{ source.zone }}</td>
                <td>{{ source.ra_fit_err }}</td>
                <td>{{ source.decl_fit_err }}</td>
                <td>{{ source.ra_sys_err }}</td>
                <td>{{ source.decl_sys_err }}</td>
                <td>{{ source.x }}</td>
                <td>{{ source.y }}</td>
                <td>{{ source.z }}</td>
                <td>{{ source.racosdecl }}</td>
                <td>{{ source.margin }}</td>
                <td>{{ source.det_sigma }}</td>
                <td>{{ source.semimajor }}</td>
                <td>{{ source.semiminor }}</td>
                <td>{{ source.pa }}</td>
                <td>{{ source.extract_type }}</td>
                <td>{{ source.node }}</td>
                <td>{{ source.nodes }}</td>

                {% endcomment %}
            </tr>
            </a>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No sources.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}


